/*
 * Fade in
 */

.fade-in {
  animation-name: fade-in;
  animation-duration: 450ms;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
