{% extends 'base.twig' %}
{% block content %}
  <div class="grid-wrapper clearfix pt-xlarge pb-small">
    <div class="grid-row">
      <div class="grid-col grid-col--12 grid-col--bottom-flush">
        <h1 class="caps-heading large-heading pb-xlarge t-center">{{page_title}}</h1>
        {% include 'partials/pagination.twig' with {'pagination': pagination, 'prev_link': 'Next page', 'next_link': 'Previous page'} only %}
        {% include 'partials/article/articles_grid.twig' with {'articles': articles, 'show_topic': true} only %}
        {% include 'partials/pagination.twig' with {'pagination': pagination, 'prev_link': 'Newer posts', 'next_link': 'Older posts'} only %}
      </div>
    </div>
  </div>
  {# Subscribe #}
  {% include 'partials/subscribe_block.twig' %}
  {# Promo banner #}
  {% if promo_banner %}
    {% include 'partials/banner/promo_banner.twig' with {'promo_banner': promo_banner} only %}
  {% endif %}
{% endblock %}
