{% extends 'base.twig' %}
{% block open_graph_details %}
  <meta property="og:type" content="{{article.open_graph_type}}" />
  <meta property="og:description" content="{{article.open_graph_description|excerpt(200)}}" />
  <meta property="twitter:description" content="{{article.open_graph_description|excerpt(200)}}" />
  <meta property="twitter:label1" content="{{article.authors_heading}}" />
  <meta property="twitter:data1" content="{{article.author_names}}" />
  {% if article.has_tags %}
    <meta property="twitter:label2" content="Tags" />
    <meta property="twitter:data2" content="{{article.tag_list}}" />
  {% endif %}
  {% if article.has_hero_image %}
    <meta property="og:image" content="{{article.open_graph_src}}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="{{article.title}}" />
    <meta property="twitter:image" content="{{article.open_graph_src}}" />
    <meta property="twitter:image:alt" content="{{article.title}}" />
    <meta property="twitter:card" content="summary_large_image" />
  {% endif %}
{% endblock %}
{% block content %}
  <article class="article">
    {% if article.has_hero_image %}
      {% include 'partials/article/article_hero_banner.twig' with {'article': article} only %}
      <div class="ph-display-block px-small">
        {% include 'partials/article/article_meta.twig' %}
      </div>
      {% if article.has_intro %}
        <div class="article__full-width-intro py-large mb-large">
          <div class="grid-wrapper clearfix">
            <div class="grid-row">
              <div class="grid-col grid-col--8 grid-col--push-2 grid-col--bottom-flush ph-grid-col--12 ph-grid-col--push-0 copy">
                {{article.intro}}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% else %}
      <div class="grid-wrapper clearfix mt-xlarge">
        <div class="grid-row">
          <div class="grid-col grid-col--8 ph-grid-col--12 grid-col--push-2 ph-grid-col--push-0 grid-col--bottom-flush">
            <h1 class="article__title t-center caps-heading pb-large mb-small">
              {{article.title}}
            </h1>
            <div class="ph-display-block">
              {% include 'partials/article/article_meta.twig' with {'article': article} only %}
            </div>
            {% if article.has_intro %}
              <div class="article__intro copy pb-medium mb-large t-center">
                {{article.intro}}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="grid-wrapper clearfix mb-large">
      <div class="grid-row">
        <div class="grid-col grid-col--2 article__sidebar-grid">
          <aside class="article__sidebar">
            {%
              set toggle_config = {
                "event": "click",
                "targetSelector": ".republish-wrapper",
                "targetToggleClassName": "republish-wrapper--hidden"
              }
            %}
            <button class="button button--small article__republish-button mb-small" data-view-toggle-class='{{toggle_config | json_encode()}}'>Republish</button>
            <span class="pb-xsmall pt-small small-heading article__sidebar-share-heading">Share</span>
            <ul class="article__share-links d-flex flex-items-center">
              <li class="article__share-link">
                <a href="{{article.twitter_share_url}}" aria-label="Share on Twitter">
                  <span class="icon">
                    {% include 'partials/icons/twitter.twig' %}
                  </span>
                </a>
              </li>
              <li class="article__share-link">
                <a href="{{article.facebook_share_url}}" aria-label="Share on Facebook">
                  <span class="icon">
                    {% include 'partials/icons/facebook.twig' %}
                  </span>
                </a>
              </li>
              <li class="article__share-link">
                <a href="{{article.linkedin_share_url}}" aria-label="Share on LinkedIn">
                  <span class="icon">
                    {% include 'partials/icons/linkedin.twig' %}
                  </span>
                </a>
              </li>
            </ul>
          </aside>
        </div>
        <div class="grid-col grid-col--8 tb-grid-col--12 ph-grid-col--12">
          <div class="ph-display-none">
            {% include 'partials/article/article_meta.twig' with {'article': article} only %}
          </div>
          <div class="article__body clearfix copy pb-large">
            {{article.body}}
          </div>
          {# Share #}
          <div class="article__share d-flex flex-items-center pb-large">
            <button class="button button--small article__republish-button" data-view-toggle-class='{{toggle_config | json_encode()}}'>Republish</button>
            <div class="article__share-group d-flex flex-items-center">
              <span class="pl-xlarge small-heading">Share</span>
              <ul class="article__share-links pl-medium d-flex flex-items-center">
                <li class="article__share-link">
                  <a href="{{article.twitter_share_url}}" aria-label="Share on Twitter">
                    <span class="icon">
                      {% include 'partials/icons/twitter.twig' %}
                    </span>
                  </a>
                </li>
                <li class="article__share-link">
                  <a href="{{article.facebook_share_url}}" aria-label="Share on Facebook">
                    <span class="icon">
                      {% include 'partials/icons/facebook.twig' %}
                    </span>
                  </a>
                </li>
                <li class="article__share-link">
                  <a href="{{article.linkedin_share_url}}" aria-label="Share on LinkedIn">
                    <span class="icon">
                      {% include 'partials/icons/linkedin.twig' %}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="article__share-group d-flex flex-items-baseline">
              <span class="pl-xlarge small-heading">Published on</span>
              <datetime class="pl-xsmall">{{article.date}}</datetime>
            </div>
          </div>
          {# Tags #}
          {% if article.has_tags %}
            <div class="article__tags pb-large">
              <span class="small-heading  pr-large">Tags</span>
              <ul class="article__tags-list">
                {% for tag in article.tags %}
                  <li class="article__tag">
                    <a href="{{tag.link}}">{{tag.name}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if article.has_category or article.has_academics %}
            <div class="article__category-and-academics pt-xlarge">
              {# Featured academics #}
              {% if article.has_academics %}
                <div class="article__academic mt-xsmall pb-medium">
                  <span class="small-heading pb-small">{{article.academics_heading}}</span>
                  {% for academic in article.academics %}
                    <div class="article__academic-wrapper clearfix">
                      <a href="{{academic.link}}">
                        {% if academic.has_avatar %}
                          <img src="{{academic.avatar_thumbnail_src}}" class="article__academic-avatar" alt="{{academic.name}}" />
                        {% else %}
                          <img src="{{asset_path('monash-impact/assets/public/person/avatar.png')}}" class="article__academic-avatar article__academic-avatar--default" alt="{{academic.name}}" />
                        {% endif %}
                      </a>
                      <div class="article__academic-text copy">
                        <a href="{{academic.link}}" class="medium-heading article__academic-title">
                          {{academic.name}}
                        </a>
                        {% if academic.has_bio %}
                          <p>{{academic.bio|excerpt(60)}}</p>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
              {# Category #}
              {% if article.has_category %}
                <div class="article__category pb-medium">
                  <span class="small-heading pb-small">Published by</span>
                  <div class="article__category-wrapper clearfix">
                    <a href="{{article.category.link}}">
                      <img src="{{asset_path('monash-impact/assets/public/category/avatar.png')}}" class="article__category-avatar" alt="{{article.category.title}}" />
                    </a>
                    <div class="article__category-text copy">
                      <a href="{{article.category.link}}" class="medium-heading article__category-title">
                        {{article.category.title}}
                      </a>
                      {% if article.category.has_description %}
                        {{article.category.description}}
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
  {# Read more in "topic" #}
  {% if related_articles %}
    <div class="grid-wrapper clearfix pb-medium">
      <div class="grid-row">
        <div class="grid-col grid-col--12 grid-col--bottom-flush">
          <h2 class="caps-heading t-center pb-medium">
            Read more
            {% if article.has_topics %}
              in <a href="{{article.primary_topic.link}}" class="theme theme--{{article.theme}}">{{article.primary_topic}}</a>
            {% endif %}
          </h2>
          {% include 'partials/article/articles_grid.twig' with {'articles': related_articles, 'show_summary': true, 'show_type': true} only %}
        </div>
      </div>
    </div>
  {% endif %}
  {# Subscribe #}
  {% include 'partials/subscribe_block.twig' %}
  {# Promo banner #}
  {% if promo_banner %}
    {% include 'partials/banner/promo_banner.twig' with {'promo_banner': promo_banner} only %}
  {% endif %}
  {% include 'partials/republish_pane.twig' with {'article': article} only %}
{% endblock %}
