{# This _must_ return a single element at the top level #}
<div class="figure figure--align-{{alignment}}">
  {% if link %}
    <a href="{{link}}" class="figure__anchor">
      <img src="{{image.src|resize(width, height)}}" alt="{{caption ? caption : image.src}}" width="{{width}}" height="{{height}}" />
    </a>
  {% else %}
    <img src="{{image.src|resize(width, height)}}" alt="{{caption ? caption : image.src}}" width="{{width}}" height="{{height}}" />
  {% endif %}
  {% if caption %}
    <p class="figure__caption">{{caption}}</p>
  {% endif %}
</div>
