{# This _must_ return a single element at the top level #}
{# Has access to: title, type, url, provider, width, height, code #}
<div class="oembed oembed--{{type}} oembed--{{provider|lower}}">
  {% if code %}
    <div class="oembed__embed">
      {{code}}
    </div>
  {% endif %}
</div>
