/*
 * Button
 */

.button {
  background-color: var(--color-blue);
  border-radius: 2px;
  color: var(--color-white);
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 1.4rem 3rem;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
}
.button:hover,
.button:focus {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}

.button--alternate {
  background-color: var(--color-white);
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
  padding: 1.2rem 2.8rem;
}
.button--alternate:hover,
.button--alternate:focus {
  background-color: var(--color-white);
  border-color: var(--color-light-blue);
  color: var(--color-light-blue);
}

.button--small {
  padding: 0.8rem 3rem;
}

.button-keyline-wrapper {
  text-align: center;
  position: relative;
}
.button-keyline-wrapper:before {
  content: "";
  display: block;
  height: 1px;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.button--with-keylines {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.button--with-keylines:before,
.button--with-keylines:after {
  background-color: var(--color-white);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2rem;
}
.button--with-keylines:before {
  left: -2rem;
}
.button--with-keylines:after {
  right: -2rem;
}
