{% extends 'base.twig' %}
{% block content %}
  <div class="topics grid-wrapper clearfix pt-xlarge pb-small">
    <div class="grid-row">
      <div class="grid-col grid-col--12">
        <h1 class="caps-heading large-heading pb-xlarge t-center">Topics</h1>
        {% for topic in topics %}
          {% if topic.has_articles %}
            <div class="topics__group py-medium">
              <h2 class="caps-heading topics__heading t-center pb-medium">
                <a href="{{topic.link}}">{{topic.title}}</a>
              </h2>
              {% include 'partials/article/articles_grid.twig' with {'articles': topic.latest_articles, 'show_type': true} only %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {# Subscribe #}
  {% include 'partials/subscribe_block.twig' %}
  {# Promo banner #}
  {% if promo_banner %}
    {% include 'partials/banner/promo_banner.twig' with {'promo_banner': promo_banner} only %}
  {% endif %}
{% endblock %}
