/*
 * Feature banner
 */

.feature-banner {
  max-height: 70rem;
  overflow: hidden;
  position: relative;
}
.breakpoint-phone .feature-banner,
.breakpoint-phone-small .feature-banner {
  margin-bottom: 0;
}
.feature-banner:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 48.611111111%;
}
.feature-banner__anchor,
.feature-banner__wrapper {
  color: var(--color-white);
  display: block;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.feature-banner__anchor:hover,
.feature-banner__anchor:focus {
  color: var(--color-white);
}
.feature-banner--with-gradient-overlay .feature-banner__anchor:after,
.feature-banner--with-gradient-overlay .feature-banner__wrapper:after {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.15)
  );
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.feature-banner__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  transition: transform 900ms cubic-bezier(0.335, 0.015, 0.25, 1);
}
.breakpoint-widescreen .feature-banner__image {
  max-width: 160rem;
  width: 100%;
}
.breakpoint-widescreen .feature-banner__image--full-width {
  max-width: 100%;
}
.feature-banner--article .feature-banner__image {
  animation: fade-in 900ms ease-in-out forwards;
  opacity: 0;
}
.breakpoint-phone .feature-banner--article .feature-banner__image,
.breakpoint-phone-small .feature-banner--article .feature-banner__image {
  animation: none;
  opacity: 1;
}
.feature-banner__anchor:hover .feature-banner__image,
.feature-banner__anchor:focus .feature-banner__image {
  transform: scale(1.1);
}
.breakpoint-phone .feature-banner__anchor:hover .feature-banner__image,
.breakpoint-phone .feature-banner__anchor:focus .feature-banner__image,
.breakpoint-phone-small .feature-banner__anchor:hover .feature-banner__image,
.breakpoint-phone-small .feature-banner__anchor:focus .feature-banner__image {
  transform: none;
}
.feature-banner__text {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.feature-banner__text-inner {
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
  position: relative;
  width: var(--container-width);
}
.feature-banner__text h1 {
  line-height: 1.1;
  font-size: 6rem;
  padding-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 65%;
}
.feature-banner--article .feature-banner__text h1 {
  animation: fade-in-and-slide-up 500ms cubic-bezier(0.335, 0.015, 0.25, 1)
    300ms forwards;
  align-self: center;
  padding-bottom: 0;
  opacity: 0;
  transform: translateY(-50%);
}
.breakpoint-w-1080 .feature-banner__text h1 {
  font-size: 5rem;
  width: 85%;
}
.breakpoint-tablet-wide .feature-banner__text h1 {
  font-size: 4rem;
}
.breakpoint-tablet .feature-banner__text h1 {
  font-size: 3.6rem;
}
.breakpoint-phone .feature-banner--article .feature-banner__text h1,
.breakpoint-phone-small .feature-banner--article .feature-banner__text h1 {
  animation: none;
  opacity: 1;
  transform: none;
}
.feature-banner__caption {
  animation: fade-in 300ms ease-in-out 300ms forwards;
  display: block;
  font-size: 1.2rem;
  padding-bottom: 2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  left: var(--gutter-width);
  right: var(--gutter-width);
  width: 100%;
  opacity: 0;
}
.feature-banner--article + .feature-banner-below-title {
  padding-top: 2rem;
}
.breakpoint-phone .feature-banner-below-title,
.breakpoint-phone-small .feature-banner-below-title {
  font-size: 2.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.feature-banner-below-title a {
  color: var(--color-medium-grey);
  display: block;
  padding-top: 2rem;
}
.breakpoint-phone .feature-banner-below-caption,
.breakpoint-phone-small .feature-banner-below-caption {
  color: var(--color-medium-grey);
  display: block;
  font-size: 1.2rem;
  margin-top: -1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}
