/*
 * Republish pane
 */

.republish-wrapper {
  position: relative;
  transition: opacity 150ms ease-in-out, z-index 1ms linear;
  opacity: 1;
  z-index: 20;
}
.republish-wrapper--hidden {
  transition: opacity 150ms ease-in-out 250ms, z-index 1ms linear 400ms;
  opacity: 0;
  z-index: -1;
}
.republish-mask {
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.breakpoint-phone .republish-mask,
.breakpoint-phone-small .republish-mask {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
.republish-pane {
  background-color: var(--color-white);
  width: 60rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 25;
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.43, 0.13, 0.13, 1) 150ms;
}
.breakpoint-phone .republish-pane,
.breakpoint-phone-small .republish-pane {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0;
}
.republish-wrapper--hidden .republish-pane {
  transition: transform 250ms cubic-bezier(0.43, 0.13, 0.13, 1);
  transform: translateX(100%);
}
.republish-pane__top {
}
.republish-pane__title {
  position: relative;
}
.republish-pane__icon {
  position: absolute;
  top: 1.4rem;
  right: -2rem;
  padding: 2rem;
}
.republish-pane__heading {
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
}
.republish-pane__text {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.4rem;
}
.republish-pane__text--divider {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-lighter-grey);
  margin-bottom: 1.5rem;
}
.republish-pane__article-heading {
  font-size: 2.4rem;
  line-height: 1.3;
}
.republish-pane__copy-button-wrapper {
  position: relative;
  margin-left: auto;
}
.republish-pane__bottom {
  flex: 1;
  position: relative;
}
.republish-pane__textarea {
  background-color: var(--color-lighter-grey);
  border: none;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  font-family: Monaco, "Courier New", Courer, monospace;
  font-size: 1.4rem;
  padding: 1rem;
  position: absolute;
}
.breakpoint-phone .republish-pane__textarea,
.breakpoint-phone-small .republish-pane__textarea {
  min-height: 30rem;
}
