<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20"><title>Close icon</title>
  <path fill="#333" fill-rule="evenodd" d="M14.806 13.82L13.626 15l-6.13-6.132L1.362 15l-1.17-1.18 6.133-6.13L.194 1.556l1.17-1.17 6.13 6.133L13.628.388l1.18 1.17-6.133 6.13"/>
</svg>
