<svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg"><title>Facebook icon</title><path d="M19.433.143H1.138C.508.143 0 .652 0 1.28v18.295c0 .63.509 1.138 1.138 1.138h9.844v-7.968H8.304V9.638h2.678v-2.29c0-2.652 1.634-4.098 4.005-4.098 1.125 0 2.102.08 2.384.12v2.773l-1.634.013c-1.3 0-1.54.603-1.54 1.5v1.982h3.066l-.401 3.108h-2.666v7.968h5.237c.63 0 1.138-.509 1.138-1.138V1.28c0-.63-.508-1.138-1.138-1.138z" fill="#3B5998" fill-rule="evenodd"/></svg>
