<svg width="18" height="15" viewBox="0 0 18 15" xmlns="http://www.w3.org/2000/svg"><title>Menu icon</title><path d="M18 12.75c0-.41-.34-.75-.75-.75H.75c-.41 0-.75.34-.75.75v1.5c0 .41.34.75.75.75h16.5c.41 0 .75-.34.75-.75v-1.5zm0-6c0-.41-.34-.75-.75-.75H.75C.34 6 0 6.34 0 6.75v1.5c0 .41.34.75.75.75h16.5c.41 0 .75-.34.75-.75v-1.5zm0-6c0-.41-.34-.75-.75-.75H.75C.34 0 0 .34 0 .75v1.5c0 .41.34.75.75.75h16.5c.41 0 .75-.34.75-.75V.75z" fill="#333" fill-rule="evenodd"/></svg>
