<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Search icon</title><path d="M13.75 8.75A5.256 5.256 0 0 0 8.5 3.5a5.256 5.256 0 0 0-5.25 5.25A5.256 5.256 0 0 0 8.5 14a5.256 5.256 0 0 0 5.25-5.25zm6 9.75c0 .82-.68 1.5-1.5 1.5a1.47 1.47 0 0 1-1.055-.445l-4.02-4.008A8.23 8.23 0 0 1 8.5 17 8.247 8.247 0 0 1 .25 8.75 8.247 8.247 0 0 1 8.5.5a8.247 8.247 0 0 1 8.25 8.25 8.23 8.23 0 0 1-1.453 4.676l4.02 4.02c.269.269.433.656.433 1.054z" fill="#333" fill-rule="evenodd"/></svg>
