/*
 * Variables
 */

:root {
  --color-blue: #006dae;
  --color-light-blue: #007dc7;
  --color-lightest-blue: #d0dfef;
  --color-white: #fff;
  --color-lightest-grey: #f9f9f9;
  --color-lighter-grey: #eee;
  --color-light-grey: #d4d4d4;
  --color-medium-grey: #4a4a4a;
  --color-dark-grey: #767676;
  --color-darker-grey: #333;
  --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-heading: "Roboto Condensed", Roboto, "Avenir Next Condensed",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-heading-fallback: "Avenir Next Condensed", "Arial Condensed",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "Century Schoolbook", Georgia, "Hoefler Text", serif;
  --container-width: 128rem;
  --gutter-width: 3rem;
  --masthead-height: 8.8rem;
  --masthead-mobile-height: 19.6rem;
}

/*
 * Base
 */

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

body {
  background-color: var(--color-white);
  color: var(--color-darker-grey);
  font-family: var(--font-main);
  font-size: 1.6rem;
  line-height: 1.4;
}

a {
  color: var(--color-blue);
  text-decoration: underline;
  transition: color 150ms ease-in-out;
}
a:hover,
a:focus {
  color: var(--color-light-blue);
  text-decoration: none;
}
a,
button {
  -webkit-tap-highlight-color: transparent;
}
button:focus,
a:focus {
  outline: 1px currentColor dotted;
}
button:hover,
a:hover,
button:active,
a:active {
  outline: none;
}

.maincontent {
  padding-top: var(--masthead-height);
}
.breakpoint-w-840 .maincontent {
  padding-top: var(--masthead-mobile-height);
}
