/*
 * Themes
 */

:root {
  --theme-blue: #00739d;
  --theme-purple: #6f64a9;
  --theme-fuchsia: #c90095;
  --theme-ruby: #c800d9;
  --theme-red: #df0021;
  --theme-orange: #c33603;
  --theme-umber: #795548;
  --theme-olive: #616d3a;
  --theme-green: #006f29;
}

.theme {
  color: var(--color-blue);
}
.theme--banking,
.theme--leadership {
  color: var(--theme-blue);
}
.theme--china,
.theme--superannuation {
  color: var(--theme-red);
}
.theme--climate-change,
.theme--sustainability {
  color: var(--theme-fuchsia);
}
.theme--digital-disruption,
.theme--trade {
  color: var(--theme-orange);
}
.theme--energy {
  color: var(--theme-umber);
}
.theme--economy {
  color: var(--theme-olive);
}
.theme--experimental-economics {
  color: var(--theme-green);
}
