/*
 * Article
 */

.article {
}
.article__title {
  line-height: 1.1;
  font-size: 6rem;
  position: relative;
}
.article__title:after,
.article__intro:after {
  background-color: var(--color-lightest-blue);
  content: "";
  height: 4px;
  width: 6rem;
  position: absolute;
  bottom: 0;
  left: calc(50% - 3rem);
}
.breakpoint-tablet-wide .article__title,
.breakpoint-tablet .article__title {
  font-size: 4rem;
}
.breakpoint-phone .article__title,
.breakpoint-phone-small .article__title {
  padding-bottom: 0;
  text-align: left;
  font-size: 2.4rem;
}
.breakpoint-phone .article__title:after,
.breakpoint-phone-small .article__title:after {
  display: none;
}
.breakpoint-phone .article__intro,
.breakpoint-phone-small .article__intro {
  text-align: left;
  padding-bottom: 0;
  padding-top: 3rem;
}
.breakpoint-phone .article__intro:after,
.breakpoint-phone-small .article__intro:after {
  top: 0;
  left: 0;
}
.article__full-width-intro {
  background-color: var(--color-blue);
  text-align: center;
}
.breakpoint-phone .article__full-width-intro,
.breakpoint-phone-small .article__full-width-intro {
  background-color: var(--color-white);
  padding-top: 3rem;
  padding-bottom: 0;
  margin-bottom: 3rem;
  text-align: left;
  position: relative;
}
.article__full-width-intro .copy p {
  color: var(--color-white);
  font-size: 2.4rem;
  font-family: var(--font-serif);
  line-height: 1.4;
}
.breakpoint-tablet-wide .article__full-width-intro .copy p,
.breakpoint-tablet .article__full-width-intro .copy p {
  font-size: 1.8rem;
}
.breakpoint-phone .article__full-width-intro .copy p,
.breakpoint-phone-small .article__full-width-intro .copy p {
  color: var(--color-blue);
  font-size: 1.6rem;
}
.breakpoint-phone .article__full-width-intro:after,
.breakpoint-phone-small .article__full-width-intro:after {
  background-color: var(--color-lightest-blue);
  content: "";
  height: 4px;
  width: 6rem;
  position: absolute;
  top: 0;
  left: 2rem;
}
.article__intro,
.copy.article__intro p {
  color: var(--color-blue);
  font-family: var(--font-serif);
  font-size: 2.4rem;
  line-height: 1.4;
  position: relative;
}
.breakpoint-tablet-wide .article__intro,
.breakpoint-tablet-wide .copy.article__intro p,
.breakpoint-tablet .article__intro,
.breakpoint-tablet .copy.article__intro p {
  font-size: 1.8rem;
}
.breakpoint-phone .article__intro,
.breakpoint-phone .copy.article__intro p,
.breakpoint-phone-small .article__intro,
.breakpoint-phone-small .copy.article__intro p {
  font-size: 1.6rem;
}
.article__meta {
  font-size: 1.4rem;
}
.breakpoint-phone .article__meta,
.breakpoint-phone-small .article__meta {
  text-align: left;
}
.article__meta span,
.article__meta datetime {
  font-weight: bold;
}
.article__meta-author:after {
  content: ",";
}
.article__meta-author:last-of-type:after {
  display: none;
}
.article__share {
  font-size: 1.4rem;
}
.breakpoint-phone .article__share,
.breakpoint-phone-small .article__share {
  flex-wrap: wrap;
  padding-bottom: 0;
}
.breakpoint-phone .article__republish-button,
.breakpoint-phone-small .article__republish-button {
  width: 100%;
}
.breakpoint-phone .article__share-group,
.breakpoint-phone-small .article__share-group {
  display: block;
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;
}
.breakpoint-phone .article__share-group:after,
.breakpoint-phone-small .article__share-group:after {
  background-color: var(--color-lightest-blue);
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: -2rem;
  right: -2rem;
}
.breakpoint-phone .article__share .small-heading,
.breakpoint-phone-small .article__share .small-heading {
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 0;
}
.breakpoint-phone .article__share-group datetime,
.breakpoint-phone-small .article__share-group datetime {
  padding-left: 0;
}
.article__share-links {
}
.breakpoint-phone .article__share-links,
.breakpoint-phone-small .article__share-links {
  padding-left: 0;
}
.article__share-link {
  padding-right: 2rem;
}
.article__share-link:last-child {
  padding-right: 0;
}
.article__share-link .icon svg {
  width: 2rem;
  height: 2rem;
}
.article__tags {
  position: relative;
}
.breakpoint-phone .article__tags,
.breakpoint-phone-small .article__tags {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.breakpoint-phone .article__tags:after,
.breakpoint-phone-small .article__tags:after {
  background-color: var(--color-lightest-blue);
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: -2rem;
  right: -2rem;
}
.article__tags .small-heading {
  display: inline-block;
}
.breakpoint-phone .article__tags .small-heading,
.breakpoint-phone-small .article__tags .small-heading {
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 0;
}
.article__tags-list {
  display: inline-block;
}
.breakpoint-phone .article__tags-list,
.breakpoint-phone-small .article__tags-list {
  padding-left: 0;
}
.article__tag {
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-block;
}
.article__tag a {
  border: 1px solid var(--color-light-grey);
  border-radius: 2px;
  color: var(--color-blue);
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.4rem 1.2rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: border-color 150ms ease-in-out;
}
.article__tag a:hover,
.article__tag a:focus {
  border-color: var(--color-blue);
}
.article__category-and-academics {
  position: relative;
}
.article__category-and-academics:before {
  background-color: var(--color-lightest-blue);
  content: "";
  height: 4px;
  width: 17rem;
  position: absolute;
  top: 0;
  left: 0;
}
.breakpoint-phone .article__category-and-academics:before,
.breakpoint-phone-small .article__category-and-academics:before {
  display: none;
}
.article__category,
.article__academic {
  position: relative;
}
.breakpoint-phone .article__category,
.breakpoint-phone-small .article__category {
  padding-top: 2rem;
}
.article__category-wrapper {
}
.article__academic-wrapper {
  padding-bottom: 2rem;
}
.article__academic-wrapper:last-of-type {
  padding-bottom: 0;
}
.article__category-avatar,
.article__academic-avatar {
  background-color: var(--color-lightest-grey);
  display: block;
  float: left;
  width: 6rem;
  height: 6rem;
  margin-top: 0.6rem;
  margin-right: 2rem;
}
.article__academic-avatar--default {
  border: 2px solid var(--color-blue);
}
.article__category-avatar {
  border: 2px solid var(--color-darker-grey);
}
.article__category-text,
.article__academic-text {
  float: left;
  width: calc(100% - 8rem);
}
.article__category-text.copy p,
.article__academic-text.copy p {
  padding-bottom: 1.2rem;
  font-size: 1.4rem;
}
.article__category-text.copy ul,
.article__academic-text.copy ul,
.article__category-text.copy ol,
.article__academic-text.copy ol {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.article__category-text.copy li,
.article__academic-text.copy li {
  font-size: 1.4rem;
  padding-bottom: 0.6rem;
}
.article__category-title,
.article__academic-title {
  padding-bottom: 0.6rem;
}
.article__sidebar-share-heading {
  position: relative;
}
.breakpoint-tablet-wide .article__sidebar-grid,
.breakpoint-tablet .article__sidebar-grid,
.breakpoint-phone .article__sidebar-grid,
.breakpoint-phone-small .article__sidebar-grid {
  display: none;
}
.article__sidebar {
  padding-top: 6.6rem;
}
.article__sidebar-share-heading:after {
  background-color: var(--color-lightest-blue);
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 2rem;
}
