/*
 * Masthead
 */

.masthead {
  background-color: var(--color-white);
  height: var(--masthead-height);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
}
.menu-open.masthead {
  position: fixed;
}
.breakpoint-w-840 .masthead {
  height: var(--masthead-mobile-height);
}
.masthead__wrapper {
  background-color: var(--color-white);
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  position: relative;
}
.breakpoint-tablet-wide .masthead__wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}
.breakpoint-w-840 .masthead__wrapper {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
.masthead__inner {
  background-color: var(--color-white);
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 6;
}
.breakpoint-w-840 .masthead__inner {
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 0;
}
.masthead__monash-university-logo {
  animation: fade-in 400ms ease-in-out 200ms forwards;
  margin-top: 8px;
  width: 117px;
  height: 35px;
  opacity: 0;
}
.breakpoint-w-840 .masthead__monash-university-logo {
  margin-right: 0;
  margin-bottom: 1rem;
  order: 1;
}
.masthead__monash-impact-logo {
  animation: fade-in 400ms ease-in-out forwards;
  width: 192px;
  height: 44px;
  position: absolute;
  top: 22px;
  left: 50%;
  margin-left: -96px;
  opacity: 0;
}
.breakpoint-w-840 .masthead__monash-impact-logo {
  position: static;
  margin-left: 0;
  padding-top: 2rem;
  order: 3;
}
.masthead__monash-impact-logo path#impact {
  transition: fill 150ms ease-in-out;
}
.masthead__monash-impact-logo:hover path#impact,
.masthead__monash-impact-logo:focus path#impact {
  fill: var(--color-blue);
}
.masthead__push-right {
  animation: fade-in 400ms ease-in-out 200ms forwards;
  margin-right: -1.4rem;
  opacity: 0;
}
.breakpoint-w-840 .masthead__push-right {
  background-color: var(--color-medium-grey);
  margin-left: 0;
  margin-right: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  order: 2;
  width: 100%;
}
.masthead__monash-business-school-logo {
  width: 207px;
  height: 14px;
  margin-right: 1.5rem;
}
.breakpoint-tablet-wide .masthead__monash-business-school-logo {
  margin-right: -1rem;
  transform: scale(0.8);
}
.breakpoint-w-840 .masthead__monash-business-school-logo {
  margin-right: 0;
  transform: none;
}
.masthead__monash-business-school-logo svg {
  display: block;
}
.breakpoint-w-840 .masthead__monash-business-school-logo path {
  fill: var(--color-white);
}
.masthead__search-toggle,
.masthead__menu-toggle {
  padding: 1.4rem;
  margin-right: 0;
}
.breakpoint-w-840 .masthead__search-toggle,
.breakpoint-w-840 .masthead__menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.2rem 2rem;
}
.breakpoint-w-840 .masthead__menu-toggle {
  left: auto;
  right: 0;
}
.masthead__menu-toggle .icon--menu,
.masthead__menu-toggle .icon--close {
  width: 20px;
  height: 20px;
  transform: translateY(2px);
}
.masthead__menu-toggle .icon--close {
  display: none;
}
.menu-open .masthead__menu-toggle .icon--close {
  display: block;
}
.menu-open .masthead__menu-toggle .icon--menu {
  display: none;
}
.masthead__search-toggle path,
.masthead__menu-toggle path {
  transition: fill 150ms ease-in-out;
}
.masthead__search-toggle:hover path,
.masthead__search-toggle:focus path,
.masthead__menu-toggle:hover path,
.masthead__menu-toggle:focus path {
  fill: var(--color-blue);
}
