/*
 * Articles grid
 */

.articles-grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--gutter-width);
  margin-left: calc(var(--gutter-width) * -1);
  max-width: calc(100% + 6rem);
  width: calc(100% + 6rem);
}
.breakpoint-tablet-wide .articles-grid,
.breakpoint-tablet .articles-grid,
.breakpoint-phone .articles-grid,
.breakpoint-phone-small .articles-grid {
  padding-left: 2rem;
  margin-left: -2rem;
  max-width: calc(100% + 4rem);
  width: calc(100% + 4rem);
}
.breakpoint-phone-small .articles-grid {
  display: block;
}
.articles-grid__item {
  display: flex;
  position: relative;
  padding-right: var(--gutter-width);
  margin-bottom: var(--gutter-width);
  width: 25%;
}
.breakpoint-tablet-wide .articles-grid__item,
.breakpoint-tablet .articles-grid__item {
  padding-right: 2rem;
  width: 33.333333%;
}
.breakpoint-phone .articles-grid__item {
  padding-right: 2rem;
  width: 50%;
}
.breakpoint-phone-small .articles-grid__item {
  padding-right: 2rem;
  margin-bottom: 3rem;
  display: block;
  width: 100%;
}
.breakpoint-phone-small .articles-grid__item:last-of-type {
  margin-bottom: 0;
}
.articles-grid__anchor {
  color: currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 26rem;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.breakpoint-phone-small .articles-grid__anchor {
  min-height: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
}
.articles-grid__anchor:hover,
.articles-grid__anchor:focus {
  color: currentColor;
}
.articles-grid__anchor:after {
  border: 4px solid currentColor;
  content: "";
  position: absolute;
  top: 1.6rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 6rem);
  opacity: 0.1;
  transition: opacity 150ms ease-in-out,
    width 150ms cubic-bezier(0.335, 0.015, 0.25, 1);
  z-index: -1;
}
.breakpoint-tablet-wide .articles-grid__anchor:after,
.breakpoint-tablet .articles-grid__anchor:after,
.breakpoint-phone .articles-grid__anchor:after {
  width: 100%;
}
.breakpoint-phone-small .articles-grid__anchor:after {
  border-left: 0;
  border-right: 0;
  left: -2rem;
  right: -2rem;
  width: calc(100% + 4rem);
}
.articles-grid__item--with-image .articles-grid__anchor {
  border: none;
  display: block;
  padding: 0;
  min-height: 0;
  margin-top: 0;
  width: 100%;
}
.articles-grid__anchor:hover:after,
.articles-grid__anchor:focus:after {
  opacity: 0.3;
  width: 100%;
}
.breakpoint-phone-small .articles-grid__anchor:hover:after,
.breakpoint-phone-small .articles-grid__anchor:focus:after {
  left: -2rem;
  right: -2rem;
  width: calc(100% + 4rem);
}
.articles-grid__item--with-image .articles-grid__anchor:after {
  display: none;
}
.articles-grid__shim {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.articles-grid__shim:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666%;
}
.articles-grid__video-icon {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 2;
}
.articles-grid__image-wrapper {
  background-color: var(--color-lightest-grey);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.articles-grid__image-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666%;
}
.articles-grid__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: transform 600ms cubic-bezier(0.335, 0.015, 0.25, 1);
  -webkit-backface-visibility: hidden;
}
.articles-grid__anchor:hover .articles-grid__image,
.articles-grid__anchor:focus .articles-grid__image {
  transform: scale(1.1);
}
.articles-grid__topic-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.breakpoint-phone-small .articles-grid__topic-wrapper {
  text-align: left;
}
.articles-grid__item--with-image .articles-grid__topic-wrapper {
  text-align: left;
  right: auto;
}
.articles-grid__topic {
  background-color: currentColor;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  min-height: 3.6rem;
}
.articles-grid__topic em {
  color: var(--color-white);
}
.articles-grid__text-wrapper {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.4rem;
  max-width: 80%;
}
.breakpoint-phone-small .articles-grid__text-wrapper {
  text-align: left;
  max-width: 100%;
}
.breakpoint-phone-small .articles-grid__text-wrapper {
  padding-top: 2rem;
}
.breakpoint-phone-small
  .articles-grid__topic-wrapper
  + .articles-grid__text-wrapper {
  padding-top: 3.4rem;
  padding-bottom: 1rem;
}
.articles-grid__item--with-image .articles-grid__text-wrapper {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 100%;
}
.breakpoint-phone-small
  .articles-grid__item--with-image
  .articles-grid__text-wrapper {
  padding-top: 0;
  padding: 0;
}
.articles-grid__title {
  color: var(--color-medium-grey);
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.25;
}
.breakpoint-w-1080 .articles-grid__title {
  font-size: 2rem;
}
.articles-grid__title--smaller,
.breakpoint-w-1080 .articles-grid__title--smaller,
.breakpoint-phone-small .articles-grid__title,
.articles-grid__item--with-image .articles-grid__title {
  font-size: 1.8rem;
}
.articles-grid__summary {
  color: var(--color-medium-grey);
  font-size: 1.4rem;
  padding-top: 1rem;
}
.article-grid__type {
  color: var(--color-dark-grey);
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  padding-top: 1rem;
}
