/*
 * Skip links
 */

a.skip-link {
  background-color: var(--color-blue);
  color: var(--color-white);
  display: block;
  font-size: 1.8rem;
  padding: 1.5rem;
  position: absolute;
  top: -100px;
  width: 100%;
  opacity: 0;
  z-index: 100;
}
a.skip-link--main-navigation:focus,
a.skip-link--main-content:focus {
  border: 1px dotted #fff;
  top: 0;
  opacity: 1;
}
