/*
 * Tweet block
 */

.tweet-block-grid {
}
.tweet-block-heading {
  padding-left: 3rem;
}
.tweet-block-heading a {
  color: var(--color-darker-grey);
  text-decoration: none;
}
.tweet-block-icon {
  margin-right: 1rem;
}
.breakpoint-tablet-wide .tweet-block-grid,
.breakpoint-tablet .tweet-block-grid,
.breakpoint-phone .tweet-block-grid,
.breakpoint-phone-small .tweet-block-grid {
  display: none;
}
.tweet-block {
}
.tweet-block__tweets {
  display: flex;
  min-height: 14rem;
}
.tweet-block__tweet {
  background-color: var(--color-white);
  float: left;
  padding: 3rem;
  width: calc(50% - 1.5rem);
}
.tweet-block__tweet:first-child {
  margin-right: 1.5rem;
}
.tweet-block__tweet:last-child {
  margin-right: 1.5rem;
}
.tweet-block__tweet p {
  display: block;
  font-size: 1.4rem;
}
.tweet-block__tweet a {
  word-wrap: break-word;
}
.tweet-block__tweet .timePosted {
  padding-top: 0.6rem;
}
.tweet-block__tweet .timePosted a {
  color: var(--color-dark-grey);
  text-decoration: none;
  font-size: 1.2rem;
}
