<!DOCTYPE html>
<html lang="en-au">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# Breakpoints #}
    {% include 'partials/breakpoints.twig' %}

    {# Inline header #}
    {% if development %}
      <script src="{{asset_path('monash-impact__inline-header.js')}}"></script>
    {% else %}
      <script>{{include(asset_path('monash-impact__inline-header.js', true))}}</script>
    {% endif %}

    {# Title #}
    <title>
      {% if page_title %}
        {{page_title}} – {{site.name}}
      {% else %}
        {{site.name}} – {{site.description}}
      {% endif %}
    </title>

    {# Meta #}
    <meta charset="{{site.charset}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-title" content="{{site.name}}" />

    {# Font loading #}
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="crossorigin" />
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i" as="style" onload='this.rel="stylesheet"' />
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i" />
    </noscript>

    {# Standard CSS and JS #}
    <link type="text/css" rel="stylesheet" href="{{asset_path('monash-impact__public.css')}}" media="all" />
    <script src={{asset_path('monash-impact__public.js')}} async></script>

    {# Open graph #}
    {% block open_graph %}
      <meta property="og:site_name" content="{{site.name}}"/>
      <meta property="og:url" content="{{current_url}}" />
      <meta property="twitter:site" content="@MonashImpact" />
      <meta property="twitter:url" content="{{current_url}}" />
      {% block open_graph_details %}
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{{site.description}}" />
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:description" content="{{site.description}}" />
        {% if page_title %}
          <meta property="og:title" content="{{page_title}}" />
          <meta property="twitter:title" content="{{page_title}}" />
        {% else %}
          <meta property="og:title" content="{{site.name}}" />
          <meta property="twitter:title" content="{{site.name}}" />
        {% endif %}
      {% endblock %}
    {% endblock %}

    {# Favicon #}
    <link rel="icon" type="image/x-icon" href="{{asset_path('monash-impact/assets/public/favicon/favicon.ico')}}" />

    {# Env specifics #}
    {% if development == false %}
    {% endif %}
    {# GTM tag #}
      <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5M4XVRG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5M4XVRG');</script>
<!-- End Google Tag Manager -->
  </head>
  <body class="fade-in">
    {# Skip links #}
    {% include 'partials/skip_links.twig' %}
    {# Header #}
    {% include 'header.twig' %}
    <section class="maincontent" role="main" id="main-content">
      {% block content %}
      {% endblock %}
    </section>
    {# Footer #}
    {% include 'footer.twig' %}
    {# Inline footer #}
    {% if development %}
      <script src="{{asset_path('monash-impact__inline-footer.js')}}"></script>
    {% else %}
      <script>{{include(asset_path('monash-impact__inline-footer.js', true))}}</script>
    {% endif %}
  </body>
  


</html>
