{% extends 'base.twig' %}
{% block content %}
  <div class="grid-wrapper clearfix py-xlarge">
    <div class="grid-row">
      <div class="grid-col grid-col--12">
        <h1 class="caps-heading large-heading pb-large t-center">{{page_title}}</h1>
        <div class="copy t-center">
          <p>Return to the <a href="{{site.url}}">home page</a>, or <a href="{{site.url}}/articles">browse all articles</a>.</p>
        </div>
      </div>
    </div>
  </div>
  {# Subscribe #}
  {% include 'partials/subscribe_block.twig' %}
  {# Promo banner #}
  {% if promo_banner %}
    {% include 'partials/banner/promo_banner.twig' with {'promo_banner': promo_banner} only %}
  {% endif %}
{% endblock %}
