<footer class="footer" role="contentinfo">
  <div class="footer__navigation pt-xlarge pb-medium mx-auto">
    <div class="grid-wrapper clearfix pb-medium">
      <div class="grid-row">
        <div class="grid-col grid-col--12 grid-col--bottom-flush">
          <h1 class="footer__monash-impact-logo">
            <a href="{{site.url}}" class="d-block">
              {% include 'partials/logos/monash-impact-wordmark.twig' %}
            </a>
          </h1>
        </div>
      </div>
    </div>
    <div class="grid-wrapper clearfix">
      <div class="footer__grid-row grid-row">
        <div class="footer__grid-info grid-col grid-col--4 clearfix">
          <div class="footer__text copy pb-medium">
            {{footer_blurb}}
          </div>
          <ul class="footer__social-links d-flex flex-items-center">
            {% if twitter_url %}
            <li class="footer__social-link pr-small">
              <a href="{{twitter_url}}" class="d-block" aria-label="Follow us on Twitter">
                <span class="icon">
                    {% include 'partials/icons/twitter.twig' %}
                  </span>
              </a>
            </li>
            {% endif %} {% if facebook_url %}
            <li class="footer__social-link pr-small">
              <a href="{{facebook_url}}" class="d-block" aria-label="Like us on Facebook">
                <span class="icon">
                    {% include 'partials/icons/facebook.twig' %}
                  </span>
              </a>
            </li>
            {% endif %} {% if linkedin_url %}
            <li class="footer__social-link">
              <a href="{{linkedin_url}}" class="d-block" aria-label="Visit us on LinkedIn">
                <span class="icon">
                    {% include 'partials/icons/linkedin.twig' %}
                  </span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="footer__grid-explore grid-col grid-col--2">
          <h2 class="footer__heading caps-heading pb-small">Explore</h2>
          <ul class="footer__list">
            <li class="footer__list-item"><a href="{{site.url}}/articles">Articles</a></li>
            <li class="footer__list-item"><a href="{{site.url}}/people">People</a></li>
            {% if podcasts %}
            <li class="footer__list-item"><a href="{{site.url}}/podcasts">Podcasts</a></li>
            {% endif %} {% if infographics %}
            <li class="footer__list-item"><a href="{{site.url}}/infographics">Infographics</a></li>
            {% endif %} {% if videos %}
            <li class="footer__list-item"><a href="{{site.url}}/videos">Videos</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="footer__grid-topics grid-col grid-col--4">
          {% if topics %}
          <h2 class="footer__heading caps-heading pb-small">
            <a href="{{site.url}}/topics">Topics</a>
          </h2>
          <ul class="footer__list footer__list--topics">
            {% for topic in topics %} {% if topic.has_articles %}
            <li class="footer__list-item">
              <a href="{{topic.link}}">{{topic.name}}</a>
            </li>
            {% endif %} {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="footer__grid-about grid-col grid-col--2">
          <h2 class="footer__heading caps-heading pb-small">About Impact</h2>
          <ul class="footer__list">
            <li class="footer__list-item"><a href="{{site.url}}/about">About</a></li>
            <li class="footer__list-item"><a href="{{site.url}}/contact-us">Contact us</a></li>
            <li class="footer__list-item"><a href="{{site.url}}/terms-of-use">Terms of use</a></li>
            <li class="footer__list-item"><a href="{{site.url}}/republishing-guidelines">Republishing guidelines</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__about">
    <div class="grid-wrapper clearfix py-large">
      <div class="grid-row">
        <div class="grid-col grid-col--12 grid-col--bottom-flush">
          <p>Authorised by <a href="https://www.monash.edu/business">Monash Business School</a>. Maintained by: <a href="mailto:servicedesk@monash.edu">eSolutions Service Desk</a>. Last updated: Aug 2017.</p>
          <p>Copyright © 2017 Monash University. ABN 12 377 614 012 <a href="http://www.monash.edu/accessibility">Accessibility</a> - <a href="http://www.monash.edu/disclaimer-copyright">Disclaimer and copyright</a> - <a href="http://www.monash.edu/privacy">Privacy</a>,
            Monash University CRICOS Provider Number: 00008C, Monash College CRICOS Provider Number: 01857J. Monash University is a registered higher education provider under the TEQSA Act 2011.</p>
          <p>We acknowledge and pay respects to the Elders and Traditional Owners of the land on which our five Australian campuses stand. <a href="http://www.monash.edu/about/indigenous">Information for Indigenous Australians</a></p>
          <p>Having issues accessing content? Please <a href="mailto:bus-eco-impact@monash.edu">contact the Impact team</a> to request an alternative version.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__logos">
    <div class="grid-wrapper clearfix py-large">
      <div class="grid-row">
        <div class="footer__grid-logos grid-col grid-col--12 grid-col--bottom-flush">
          <ul class="footer__logos-list footer__logos-list--accredited d-flex flex-items-center">
            <li class="footer__logo footer__logo--text pr-medium">
              Accredited by
            </li>
            <li class="footer__logo footer__logo--aacsb pr-medium">
              <a href="http://www.aacsb.edu/accreditation/accredited-members/global-listing?F_Country=Australia" class="d-block">
                <img src="{{asset_path('monash-impact/assets/public/footer/logo-aacsb.jpg')}}" alt="AACSB Accredited logo" />
              </a>
            </li>
            <li class="footer__logo footer__logo--equis pr-medium">
              <a href="https://www.efmd.org/accreditation-main/equis" class="d-block">
                <img src="{{asset_path('monash-impact/assets/public/footer/logo-equis.jpg')}}" alt="EFMB EQUIS Accredited logo" />
              </a>
            </li>
            <li class="footer__logo footer__logo--amba pr-medium">
              <a href="http://www.mbaworld.com/en/Accreditation.aspx" class="d-block">
                <img src="{{asset_path('monash-impact/assets/public/footer/logo-amba.jpg')}}" alt="Association of MBAs logo" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>