<header class="masthead" role="masthead">
  <div class="masthead__wrapper">
    <div class="masthead__inner d-flex flex-items-center">
      <h2 class="masthead__monash-university-logo flex-left">
        <a href="https://www.monash.edu" class="d-block">
          {% include 'partials/logos/monash-university.twig' %}
        </a>
      </h2>
      <h1 class="masthead__monash-impact-logo">
        <a href="{{site.url}}" class="d-block">
          {% include 'partials/logos/monash-impact.twig' %}
        </a>
      </h1>
      <div class="d-flex flex-right flex-items-center masthead__push-right">
        <h2 class="masthead__monash-business-school-logo">
          <a href="https://business.monash.edu" class="d-block">
            {% include 'partials/logos/monash-business-school.twig' %}
          </a>
        </h2>
        {% include 'partials/search/search_form.twig' %}
        {%
          set toggle_config = {
            "event": "click",
            "targetSelector": ".masthead",
            "targetToggleClassName": "menu-open"
          }
        %}
        <button class="masthead__menu-toggle" data-view-toggle-class='{{toggle_config | json_encode()}}'>
          <span class="icon icon--menu">
            {% include 'partials/icons/menu.twig' %}
          </span>
          <span class="icon icon--close">
            {% include 'partials/icons/close.twig' %}
          </span>
        </button>
      </div>
    </div>
    {% include 'partials/navigation.twig' %}
  </div>
</header>
