{% extends 'base.twig' %}
{% block open_graph_details %}
  {% if featured_article.has_hero_image %}
    <meta property="og:image" content="{{featured_article.open_graph_src}}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="{{featured_article.title}}" />
    <meta property="twitter:image" content="{{featured_article.open_graph_src}}" />
    <meta property="twitter:image:alt" content="{{featured_article.title}}" />
    <meta property="twitter:card" content="summary_large_image" />
  {% endif %}
{% endblock %}
{% block content %}
  {# Featured article #}
  {% include 'partials/banner/feature_banner.twig' with {'feature': featured_article} only %}
  <div class="grid-wrapper clearfix pt-small">
    <div class="grid-row">
      <div class="grid-col grid-col--12 grid-col--bottom-flush">
        {% include 'partials/article/articles_grid.twig' with {'articles': row_of_articles, 'show_topic': true, 'show_type': true} only %}
      </div>
    </div>
  </div>
  {# Subscribe #}
  {% include 'partials/subscribe_block.twig' %}
  {# Recent articles by topic #}
  <div class="grid-wrapper clearfix pt-medium">
    <div class="grid-row">
      <div class="grid-col grid-col--12 grid-col--bottom-flush">
        <h1 class="caps-heading t-center ph-t-left pb-medium">Most popular</h1>
        {% include 'partials/article/articles_grid.twig' with {'articles': popular_articles, 'show_topic': true, 'show_type': true} only %}
      </div>
    </div>
  </div>
  {# Spotlight on topic #}
  <div class="grid-wrapper clearfix pt-medium">
    <div class="grid-row">
      <div class="grid-col grid-col--12 grid-col--bottom-flush">
        <h1 class="caps-heading t-center ph-t-left py-medium">Spotlight on <a href="{{spotlight_link}}">{{spotlight_title}}</a></h1>
        {% include 'partials/article/articles_grid.twig' with {'articles': spotlight_articles,  'show_type': true} only %}
        <div class="button-keyline-wrapper my-large">
          <a href="{{site.url}}/articles" class="button button--with-keylines">View all articles →</a>
        </div>
      </div>
    </div>
  </div>
  {# Upcoming events #}
  <div class="grid-wrapper clearfix pt-small pb-medium">
    <div class="grid-row">
      <div class="grid-col grid-col--12 grid-col--bottom-flush">
        <h1 class="caps-heading t-center ph-t-left pt-small pb-medium">Upcoming events at Monash Business School</h1>
        {% include 'partials/event/events_grid.twig' with {'events': upcoming_events} %}
      </div>
    </div>
  </div>
  {# Promo banner #}
  {% if promo_banner %}
    {% include 'partials/banner/promo_banner.twig' with {'promo_banner': promo_banner} only %}
  {% endif %}
{% endblock %}
