/*
 * Search results
 */

.search-results {
}
.search-results__search-box {
}
.search-results__field-container {
  height: 5rem;
  width: 60%;
}
.breakpoint-phone .search-results__field-container,
.breakpoint-phone-small .search-results__field-container {
  width: 100%;
}
.search-results__input {
  background-color: var(--color-white);
  border-left: 1px solid var(--color-light-grey);
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
  border-right: none;
  border-radius: 0;
  color: var(--color-darker-grey);
  display: block;
  font-size: 1.6rem;
  font-family: var(--font-main);
  height: 100%;
  padding: 1.4rem 2rem;
  transition: border-color 150ms ease-in-out;
  width: calc(100% - 5rem);
  -webkit-appearance: none;
}
.search-results__input:hover,
.search-results__input:focus,
.search-results__input:hover + .search-results__button,
.search-results__input:focus + .search-results__button {
  border-color: var(--color-dark-grey);
}
.search-results__button {
  background-color: var(--color-white);
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
  border-right: 1px solid var(--color-light-grey);
  display: block;
  width: 5rem;
  height: 100%;
  transition: border-color 150ms ease-in-out;
}
.search-results__button .icon {
  display: inline-block;
  transform: translateY(3px);
}
.search-results__button:hover .icon path,
.search-results__button:focus .icon path,
.search-results__input:focus + .search__button .icon path {
  fill: var(--color-blue);
}
.search-results__results {
}
.search-results__result {
  border-top: 1px solid var(--color-light-grey);
  display: block;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}
.search-results__result:last-of-type {
  border-bottom: 1px solid var(--color-light-grey);
}
.search-results__title {
  display: block;
  font-size: 1.7rem;
  padding-bottom: 0.6rem;
}
.breakpoint-phone .search-results__title,
.breakpoint-phone-small .search-results__title {
  font-size: 1.5rem;
}
.search-results__author {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
}
.search-results__author a {
  color: var(--color-medium-grey);
}
.search-results__author a:after {
  content: ",";
}
.search-results__author a:last-of-type:after {
  display: none;
}

.search-results__filters-container {
}
.breakpoint-phone .search-results__filters-container,
.breakpoint-phone-small .search-results__filters-container {
  order: -1;
  margin-bottom: 0;
}
.search-results__filters-heading {
}
.breakpoint-phone .search-results__filters-heading,
.breakpoint-phone-small .search-results__filters-heading {
  cursor: pointer;
  display: block;
}
.breakpoint-phone .search-results__filters-heading em,
.breakpoint-phone-small .search-results__filters-heading em {
  position: relative;
}
.breakpoint-phone .search-results__filters-heading em:after,
.breakpoint-phone-small .search-results__filters-heading em:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--color-darker-grey);
  position: absolute;
  top: 0.7rem;
  right: -1.4rem;
}
.breakpoint-phone
  .search-results__filters-container--visible
  .search-results__filters-heading
  em:after,
.breakpoint-phone-small
  .search-results__filters-container--visible
  .search-results__filters-heading
  em:after {
  transform: rotate(90deg);
}
.search-results__filters {
}
.breakpoint-phone .search-results__filters,
.breakpoint-phone-small .search-results__filters {
  display: none;
  padding-bottom: 4rem;
}
.breakpoint-phone
  .search-results__filters-container--visible
  .search-results__filters,
.breakpoint-phone-small
  .search-results__filters-container--visible
  .search-results__filters {
  display: block;
}
.search-results__filter-group {
}
.breakpoint-phone .search-results__filter-group,
.breakpoint-phone-small .search-results__filter-group {
  margin-bottom: 2rem;
}
.search-results__filter-checkbox-group {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.search-results__label {
  cursor: pointer;
  font-size: 1.4rem;
}
.search-results__select {
  border-color: var(--color-light-grey);
  background: var(--color-white);
  cursor: pointer;
  font-size: 1.4rem;
  font-family: var(--font-main);
  transition: border-color 150ms ease-in-out;
  height: 4rem;
  width: 100%;
}
.search-results__select:hover,
.search-results__select:focus {
  border-color: var(--color-dark-grey);
}
.breakpoint-phone .search-results__update-button,
.breakpoint-phone-small .search-results__update-button {
  margin-top: 1rem;
}
.breakpoint-phone .search-results__update-button,
.breakpoint-phone .search-results__clear-button,
.breakpoint-phone-small .search-results__update-button,
.breakpoint-phone-small .search-results__clear-button {
  display: block;
  width: 100%;
}
