/*
 * Search
 */

.search {
  position: absolute;
  top: 1.8rem;
  right: 3.3rem;
  z-index: 8;
}
.breakpoint-w-840 .search {
  background-color: var(--color-white);
  top: 0;
  left: 0;
  right: 0;
}
.search--hidden {
  display: none;
}
.search__form {
  width: 32rem;
}
.breakpoint-w-840 .search__form {
  width: calc(100% - 6.3rem);
}
.search__field-container {
  height: 5rem;
}
.breakpoint-w-840 .search__field-container {
  height: 6.3rem;
}
.search__input {
  background-color: var(--color-white);
  border-left: 1px solid var(--color-light-grey);
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
  border-right: none;
  border-radius: 0;
  color: var(--color-darker-grey);
  display: block;
  font-size: 1.6rem;
  font-family: var(--font-main);
  height: 100%;
  padding: 1.4rem 2rem;
  transition: border-color 150ms ease-in-out;
  width: calc(100% - 5rem);
  -webkit-appearance: none;
}
.breakpoint-w-840 .search__input {
  border-left: 0;
  width: calc(100% - 6.3rem);
}
.search__input:hover,
.search__input:focus {
  border-color: var(--color-dark-grey);
}
.search__button {
  background-color: var(--color-blue);
  display: block;
  width: 5rem;
  height: 100%;
}
.breakpoint-w-840 .search__button {
  width: 6.3rem;
}
.search__button:hover,
.search__button:focus,
.search__input:focus + .search__button {
  background-color: var(--color-light-blue);
}
.search__button .icon {
  display: inline-block;
  transform: translateY(3px);
}
.search__button .icon path {
  fill: var(--color-white);
}
.search__close {
  background-color: var(--color-white);
  display: block;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  right: -5rem;
  text-align: center;
}
.breakpoint-w-840 .search__close {
  width: 6.3rem;
  height: 6.3rem;
  right: 0;
}
.search__close .icon {
  display: inline-block;
  transform: translateY(3px);
  width: 14px;
  height: 14px;
}
.search__close .icon path {
  fill: var(--color-dark-grey);
}
.search__close:hover .icon path,
.search__close:hover .icon path {
  fill: #000;
}
