{% extends 'base.twig' %}
{% block content %}
  <div class="grid-wrapper clearfix pt-xlarge pb-medium">
    <div class="grid-row">
      <div class="grid-col grid-col--12 grid-col--bottom-flush">
        <h1 class="caps-heading large-heading pb-xlarge t-center">{{page_title}}</h1>
        {% if articles %}
          {% include 'partials/pagination.twig' with {'pagination': pagination, 'prev_link': 'Newer posts', 'next_link': 'Older posts'} only %}
          {% include 'partials/article/articles_grid.twig' with {'articles': articles, 'show_topic': true, 'show_type': true} only %}
          {% include 'partials/pagination.twig' with {'pagination': pagination, 'prev_link': 'Newer posts', 'next_link': 'Older posts'} only %}
        {% else %}
          <div class="copy t-center">
            <p>No articles tagged “{{tag.title}}”.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {# Subscribe #}
  {% include 'partials/subscribe_block.twig' %}
  {# Promo banner #}
  {% if promo_banner %}
    {% include 'partials/banner/promo_banner.twig' with {'promo_banner': promo_banner} only %}
  {% endif %}
{% endblock %}
