/*
 * Newsletter subscribe
 */

.newsletter-subscribe-wrapper {
}
.breakpoint-tablet-wide .newsletter-subscribe-wrapper,
.breakpoint-tablet .newsletter-subscribe-wrapper,
.breakpoint-phone .newsletter-subscribe-wrapper,
.breakpoint-phone-small .newsletter-subscribe-wrapper {
  padding-bottom: 0;
}
.newsletter-subscribe {
  padding-right: 2rem;
}
.breakpoint-tablet-wide .newsletter-subscribe,
.breakpoint-tablet .newsletter-subscribe,
.breakpoint-phone .newsletter-subscribe,
.breakpoint-phone-small .newsletter-subscribe {
  text-align: center;
  padding-right: 0;
}
.newsletter-subscribe__heading {
}
.breakpoint-tablet-wide .newsletter-subscribe__heading,
.breakpoint-tablet .newsletter-subscribe__heading,
.breakpoint-phone .newsletter-subscribe__heading,
.breakpoint-phone-small .newsletter-subscribe__heading {
  justify-content: center;
}
.breakpoint-phone .newsletter-subscribe__heading,
.breakpoint-phone-small .newsletter-subscribe__heading {
  flex-direction: column;
}
.newsletter-subscribe__icon {
  width: 34px;
  height: 23px;
  margin-right: 1rem;
}
.breakpoint-phone .newsletter-subscribe__icon,
.breakpoint-phone-small .newsletter-subscribe__icon {
  margin-bottom: 1rem;
}
.newsletter-subscribe__text {
  font-size: 1.7rem;
  padding-bottom: 2rem;
}
.breakpoint-phone .newsletter-subscribe__text,
.breakpoint-phone-small .newsletter-subscribe__text {
  font-size: 1.4rem;
}
.newsletter-subscribe__form {
  display: flex;
}
.breakpoint-tablet-wide .newsletter-subscribe__form,
.breakpoint-tablet .newsletter-subscribe__form,
.breakpoint-phone .newsletter-subscribe__form,
.breakpoint-phone-small .newsletter-subscribe__form {
  justify-content: center;
}
.breakpoint-phone .newsletter-subscribe__form,
.breakpoint-phone-small .newsletter-subscribe__form {
  flex-direction: column;
}
.newsletter-subscribe__input {
  background-color: var(--color-white);
  border: 1px solid var(--color-light-grey);
  border-radius: 2px;
  color: var(--color-darker-grey);
  font-size: 1.5rem;
  font-family: var(--font-main);
  margin-right: 1rem;
  padding: 1.4rem 2rem;
  transition: border-color 150ms ease-in-out;
  width: calc(65% - 1rem);
}
.breakpoint-phone .newsletter-subscribe__input,
.breakpoint-phone-small .newsletter-subscribe__input {
  margin-bottom: 1rem;
  margin-right: 0;
  width: 100%;
}
.newsletter-subscribe__input:hover,
.newsletter-subscribe__input:focus {
  border-color: var(--color-dark-grey);
}
.newsletter-subscribe__button {
}
.newsletter-subscribe__connect {
}
.breakpoint-tablet-wide .newsletter-subscribe__connect,
.breakpoint-tablet .newsletter-subscribe__connect {
  justify-content: center;
}
.breakpoint-phone .newsletter-subscribe__connect,
.breakpoint-phone-small .newsletter-subscribe__connect {
  display: none;
}
.newsletter-subscribe__social-links {
}
.newsletter-subscribe__social-link {
  display: inline-block;
}
.newsletter-subscribe__social-link a {
  display: block;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.newsletter-subscribe__social-link a .icon svg {
  width: 20px;
  height: 20px;
}
