/*
 * Footer
 */

.footer {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.breakpoint-tablet .footer,
.breakpoint-phone .footer,
.breakpoint-phone-small .footer {
  padding-top: 2rem;
}
.footer__monash-impact-logo {
  width: 105px;
  height: 20px;
}
.footer__text.copy p {
  font-size: 1.8rem;
  padding-bottom: 1.4rem;
  line-height: 1.5;
}
.breakpoint-phone .footer__text.copy p,
.breakpoint-phone-small .footer__text.copy p {
  font-size: 1.4rem;
}
.breakpoint-phone .footer__grid-row,
.breakpoint-phone-small .footer__grid-row {
  display: flex;
  flex-wrap: wrap;
}
.breakpoint-tablet-wide .footer__grid-info,
.breakpoint-tablet .footer__grid-info,
.breakpoint-phone .footer__grid-info,
.breakpoint-phone-small .footer__grid-info {
  margin-bottom: 1rem;
  width: 100%;
}
.breakpoint-phone .footer__grid-info,
.breakpoint-phone-small .footer__grid-info {
  order: 1;
  margin-bottom: 3rem;
}
.breakpoint-tablet-wide .footer__text,
.breakpoint-tablet .footer__text {
  float: left;
  padding-right: 3rem;
  width: 70%;
}
.breakpoint-phone .footer__text,
.breakpoint-phone-small .footer__text {
  padding-right: 0;
  width: 100%;
}
.footer__text p:last-of-type {
  padding-bottom: 0;
}
.breakpoint-tablet-wide .footer__social-links,
.breakpoint-tablet .footer__social-link {
  float: left;
}
.footer__social-link .icon path {
  fill: var(--color-white);
}
.footer__social-link a:hover .icon path,
.footer__social-link a:focus .icon path {
  fill: var(--color-lightest-blue);
}
.breakpoint-tablet-wide .footer__grid-explore,
.breakpoint-tablet .footer__grid-explore {
  width: 20%;
}
.breakpoint-phone .footer__grid-explore,
.breakpoint-phone-small .footer__grid-explore {
  padding-right: 1rem;
  order: 3;
  width: calc(50% - 1rem);
}
.breakpoint-tablet-wide .footer__grid-topics,
.breakpoint-tablet .footer__grid-topics {
  width: 50%;
}
.breakpoint-phone .footer__grid-topics,
.breakpoint-phone-small .footer__grid-topics {
  order: 2;
  width: 100%;
}
.breakpoint-tablet-wide .footer__grid-about {
  width: 20%;
}
.breakpoint-tablet .footer__grid-about {
  width: 25%;
}
.breakpoint-phone .footer__grid-about,
.breakpoint-phone-small .footer__grid-about {
  padding-right: 1rem;
  order: 4;
  width: calc(50% - 1rem);
}
.footer__heading {
  color: #d6efff;
  font-size: 1.8rem;
}
.breakpoint-tablet-wide .footer__heading,
.breakpoint-tablet .footer__heading,
.breakpoint-phone .footer__heading,
.breakpoint-phone-small .footer__heading {
  padding-bottom: 1.2rem;
}
.footer__heading a {
  color: #d6efff;
}
.footer__list {
}
.footer__list--topics {
  column-count: 2;
  column-gap: 0;
}
.breakpoint-phone .footer__list--topics,
.breakpoint-phone-small .footer__list--topics {
  padding-bottom: 1rem;
}
.footer__list-item {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.footer__list--topics .footer__list-item {
  padding-right: 2rem;
}
.footer__list-item a {
  color: var(--color-white);
}
.footer__list-item a:hover,
.footer__list-item a:focus {
  color: var(--color-lightest-blue);
}

.footer__about {
  background-color: #00619c;
}
.footer__about p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  line-height: 1.5;
}
.footer__about p:last-of-type {
  padding-bottom: 0;
}
.footer__about a {
  color: var(--color-white);
}
.footer__logos {
  background-color: var(--color-white);
  color: var(--color-darker-grey);
}
.footer__grid-logos {
  display: flex;
}
.breakpoint-tablet-wide .footer__grid-logos,
.breakpoint-tablet .footer__grid-logos,
.breakpoint-phone .footer__grid-logos,
.breakpoint-phone-small .footer__grid-logos {
  flex-direction: column;
}
.footer__logos-list {
}
.breakpoint-phone .footer__logos-list,
.breakpoint-phone-small .footer__logos-list {
  flex-wrap: wrap;
}
.footer__logos-list {
  margin-left: auto;
  margin-right: auto;
}
.breakpoint-tablet-wide .footer__logos-list,
.breakpoint-tablet .footer__logos-list {
  padding-top: 3rem;
}
.breakpoint-phone .footer__logos-list,
.breakpoint-phone-small .footer__logos-list {
  padding-top: 1rem;
}
.footer__logo {
  font-size: 1.4rem;
}
.breakpoint-phone .footer__logo,
.breakpoint-phone-small .footer__logo {
  text-align: center;
  padding-right: 0;
  padding-bottom: 2rem;
  width: 100%;
}
.breakpoint-phone .footer__logos-list--accredited .footer__logo,
.breakpoint-phone-small .footer__logos-list--accredited .footer__logo {
  display: inline;
  width: 33.33%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.breakpoint-phone .footer__logos-list--accredited .footer__logo--text,
.breakpoint-phone-small .footer__logos-list--accredited .footer__logo--text {
  width: 100%;
}
.footer__logo img {
  display: block;
  max-width: 100%;
}
.breakpoint-phone .footer__logo img,
.breakpoint-phone-small .footer__logo img {
  margin-left: auto;
  margin-right: auto;
}
.breakpoint-phone .footer__logos-list--accredited img,
.breakpoint-phone-small .footer__logos-list--accredited img {
  height: auto;
}
.footer__logo--aacsb img {
  width: 105px;
  height: 35px;
}
.footer__logo--equis img {
  width: 57px;
  height: 40px;
}
.footer__logo--amba img {
  width: 105px;
  height: 32px;
}
