/*
 * Person
 */

.person {
}
.person__avatar {
}
.person__avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.person__image--default {
  border: 4px solid var(--color-blue);
}
.person__image--small-default {
  border: 3px solid var(--color-blue);
}
.person__role {
  color: var(--color-dark-grey);
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 0.2rem;
}
.person__links {
}
.person__links-list {
}
.person__link {
  display: inline-block;
}
.person__link a {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
}
.person__link a .icon svg {
  width: 24px;
  height: 24px;
}
