{% extends 'base.twig' %}
{% block content %}
  <div class="grid-wrapper clearfix pt-large">
    <div class="grid-row">
      <div class="grid-col grid-col--12">
        <div class="search-results">
          <form class="search-results__search-box" role="search" method="get" action="{{site.url}}/search">
            <div class="search-results__field-container mx-auto d-flex flex-items-center">
              <label for="search-results__input" class="hide-visually">Search {{site.name}}</label>
              <input id="search-results__input" class="search-results__input" type="search" placeholder="Enter a search term…" name="query" value="{{query|escape('html_attr')}}" />
              <button class="search-results__button d-flex flex-items-center" type="Submit">
                <span class="icon" aria-label="Search icon">
                  {% include 'partials/icons/search.twig' %}
                </span>
              </button>
            </div>
            {% if query %}
              <div class="grid-wrapper clearfix pt-xlarge pb-small">
                <div class="grid-row d-flex flex-wrap">
                  <div class="grid-col grid-col--8 ph-grid-col--12">
                    <span class="caps-heading d-block mb-small search-results__heading">Showing {{results_heading}} results for ‘{{query|escape}}’</span>
                    {% if results %}
                      <ul class="search-results__results">
                        {% for result in results %}
                          {% include 'partials/search/search_result.twig' with {'result': result} only %}
                        {% endfor %}
                      </ul>
                      {% include 'partials/pagination.twig' with {'pagination': pagination, 'prev_link': 'Next page', 'next_link': 'Previous page'} only %}
                    {% else %}
                      <div class="copy">
                        <p>There are no results for ‘{{query|escape}}’.
                        {% if active_filters %}
                          Try <a href="{{clear_filters_link}}">clearing any filters</a>, or searching for a different keyword.</p>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                  {% include 'partials/search/search_filters.twig' %}
                </div>
              </div>
            {% else %}
              <div class="grid-wrapper clearfix pt-xlarge pb-small">
                <div class="grid-row">
                  <div class="grid-col grid-col--8 grid-col--push-2 tb-grid-col--10 tb-grid-col--push-1 ph-grid-col--12 ph-grid-col--push-0 grid-col--bottom-flush">
                    <div class="copy">
                      <p class="t-center">
                        Please enter a search term.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
  {# Subscribe #}
  {% include 'partials/subscribe_block.twig' %}
  {# Promo banner #}
  {% if promo_banner %}
    {% include 'partials/banner/promo_banner.twig' with {'promo_banner': promo_banner} only %}
  {% endif %}
{% endblock %}
