{# This _must_ return a single element at the top level #}
{% if link %}
  <a href="{{link}}">
    <img src="{{image.src|resize(width, height)}}" alt="{{caption ? caption : image.src}}" width="{{width}}" height="{{height}}" />
  </a>
{% else %}
  <img src="{{image.src|resize(width, height)}}" alt="{{caption ? caption : image.src}}" width="{{width}}" height="{{height}}" />
{% endif %}
{% if caption %}
  <p>{{caption}}</p>
{% endif %}
