/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.hide-visually.focusable:active,
.hide-visually.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Hide text but maintain layout
 */

.hide-text {
  color: transparent;
  display: block;
  font: 0/0 a;
}

/*
 * Hide/show elements on phones
 */

/* Hide element by default */
.ph-display-block {
  display: none;
}

/* Set element to hide on phones */
.breakpoint-phone-small .ph-display-none,
.breakpoint-phone .ph-display-none {
  display: none;
}

/* Display element on phones */
.breakpoint-phone-small .ph-display-block,
.breakpoint-phone .ph-display-block {
  display: block;
}
