/*
 * Type
 */

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.breakpoint-phone .ph-t-left,
.breakpoint-phone-small .ph-t-left {
  text-align: left;
}

.breakpoint-phone .ph-t-center,
.breakpoint-phone-small .ph-t-center {
  text-align: center;
}

.breakpoint-phone .ph-t-right,
.breakpoint-phone-small .ph-t-right {
  text-align: right;
}

.caps-heading {
  font-family: var(--font-heading-fallback);
  font-size: 2.4rem;
  text-transform: uppercase;
}
.fonts-loaded .caps-heading {
  font-family: var(--font-heading);
}
.breakpoint-tablet-wide .caps-heading,
.breakpoint-tablet .caps-heading,
.breakpoint-phone .caps-heading,
.breakpoint-phone-small .caps-heading {
  line-height: 1.2;
  font-size: 2rem;
}

.small-heading {
  color: var(--color-dark-grey);
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
}

.medium-heading {
  color: var(--color-medium-grey);
  display: block;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
}

.large-heading {
  font-size: 6rem;
  line-height: 1.1;
  text-decoration: none;
}
.breakpoint-tablet-wide .large-heading,
.breakpoint-tablet .large-heading {
  font-size: 5rem;
}
.breakpoint-phone .large-heading,
.breakpoint-phone-small .large-heading {
  font-size: 3.6rem;
}
