/*
 * Copy
 */

/* Heading */

.copy h1 {
  color: var(--color-darker-grey);
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 2rem;
  line-height: 1.3;
}
.copy h2 {
  color: var(--color-darker-grey);
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.6rem;
  line-height: 1.3;
}
.copy h3 {
  font-weight: bold;
  padding-bottom: 1.6rem;
}
.breakpoint-phone .copy h1,
.breakpoint-phone-small .copy h1 {
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
}
.breakpoint-phone .copy h2,
.breakpoint-phone-small .copy h2,
.breakpoint-phone .copy h3,
.breakpoint-phone-small .copy h3 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}
.copy p + h1,
.copy p + h2,
.copy p + h3 {
  padding-top: 2rem;
}
.breakpoint-phone .copy p + h1,
.breakpoint-phone-small .copy p + h1,
.breakpoint-phone .copy p + h2,
.breakpoint-phone-small .copy p + h2,
.breakpoint-phone .copy p + h3,
.breakpoint-phone-small .copy p + h3 {
  padding-top: 1rem;
}

/* Paragraph */

.copy p {
  font-family: var(--font-main);
  font-size: 1.7rem;
  line-height: 1.6;
  padding-bottom: 1.6rem;
}
.copy p:last-of-type {
  padding-bottom: 0;
}
.breakpoint-tablet-wide .copy p,
.breakpoint-tablet .copy p {
  font-size: 1.6rem;
}
.breakpoint-phone .copy p,
.breakpoint-phone-small .copy p {
  font-size: 1.4rem;
}

/* Blockquote */

.copy blockquote {
  padding-left: 5rem;
  padding-top: 2.6rem;
  padding-bottom: 4rem;
}
.copy blockquote.display-right {
  float: right;
  padding-bottom: 3rem;
  padding-left: 3.6rem;
  width: 30rem;
}
.copy blockquote.display-left {
  float: left;
  padding-bottom: 3rem;
  padding-left: 0;
  padding-right: 3.6rem;
  width: 30rem;
}
.breakpoint-phone .copy blockquote,
.breakpoint-phone-small .copy blockquote {
  float: none;
  padding: 1.2rem 0 2.6rem;
  width: 100%;
}
.copy blockquote p {
  color: var(--color-blue);
  line-height: 1.5;
  font-size: 2rem;
}
.breakpoint-phone .copy blockquote p,
.breakpoint-phone-small .copy blockquote p {
  font-size: 1.8rem;
}

/* Formatting */

.copy strong {
  font-weight: 700;
}
.copy em {
  font-style: italic;
}

/* List */

.copy ul,
.copy ol {
  font-size: 1.7rem;
  line-height: 1.6;
  padding-left: 1.9rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.breakpoint-tablet-wide .copy ul,
.breakpoint-tablet-wide .copy ol,
.breakpoint-tablet .copy ul,
.breakpoint-tablet .copy ol {
  font-size: 1.6rem;
}
.breakpoint-phone .copy ul,
.breakpoint-phone .copy ol,
.breakpoint-phone-small .copy ul,
.breakpoint-phone-small .copy ol {
  font-size: 1.4rem;
}
.copy ul li {
  display: list-item;
  list-style: disc;
  padding-bottom: 1.8rem;
}
.copy ol li {
  display: list-item;
  list-style: decimal;
  padding-bottom: 1.8rem;
}

/* Anchor */

.copy a {
  text-decoration: underline;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

/* Image */

.copy img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Figures */

.copy .figure {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.copy .figure--align-right {
  padding-top: 0.8rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  max-width: 50%;
  float: right;
}
.copy .figure--align-left {
  padding-top: 0.8rem;
  padding-bottom: 3rem;
  padding-right: 4rem;
  max-width: 50%;
  float: left;
}
.breakpoint-phone-small .copy .figure {
  padding: 1.2rem 0 2.6rem;
  float: none;
  max-width: 100%;
  width: 100%;
}
.copy .figure__anchor {
  display: block;
}
.copy .figure img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}
.copy p.figure__caption {
  color: var(--color-darker-grey);
  font-size: 1.2rem;
  padding-top: 1rem;
}
