{% extends 'base.twig' %}
{% block open_graph_details %}
  <meta property="og:description" content="{{page.body|excerpt(200)}}" />
  <meta property="twitter:description" content="{{page.body|excerpt(200)}}" />
{% endblock %}
{% block content %}
  <div class="grid-wrapper clearfix py-xlarge">
    <div class="grid-row">
      <div class="grid-col grid-col--8 grid-col--push-2 tb-grid-col--10 tb-grid-col--push-1 ph-grid-col--12 ph-grid-col--push-0 grid-col--bottom-flush">
        <h1 class="caps-heading large-heading pb-large t-center">{{page.title}}</h1>
        <div class="copy clearfix">
          {{page.body}}
        </div>
      </div>
    </div>
  </div>
  {# Subscribe #}
  {% include 'partials/subscribe_block.twig' %}
  {# Promo banner #}
  {% if promo_banner %}
    {% include 'partials/banner/promo_banner.twig' with {'promo_banner': promo_banner} only %}
  {% endif %}
{% endblock %}
