<div class="articles-grid__item theme">
  <a href={{event.url}} class="articles-grid__anchor">
    <div class="articles-grid__text-wrapper">
      <h1 class="articles-grid__title articles-grid__title--smaller">{{event.name}}</h1>
      <h2 class="article-grid__type">{{event.start}}</h2>
    </div>
  </a>
</div>
