/*
 * oEmbed
 */

.oembed {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.breakpoint-phone .oembed,
.breakpoint-phone-small .oembed {
  padding-top: 1.2rem;
  padding-bottom: 2.6rem;
}
.oembed--video .oembed__embed {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  max-width: 100%;
  z-index: 1;
}
.oembed--video .oembed__embed video,
.oembed--video .oembed__embed object,
.oembed--video .oembed__embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.oembed--twitter {
  float: right;
  padding-top: 0;
  padding-bottom: 3rem;
  padding-left: 3rem;
  width: 30rem;
}
.breakpoint-phone .oembed--twitter,
.breakpoint-phone-small .oembed--twitter {
  padding-left: 0;
  float: none;
  width: 100%;
}
