{% extends 'base.twig' %}
{% block content %}
  <div class="grid-wrapper clearfix pt-xlarge">
    <div class="grid-row">
      <div class="grid-col grid-col--12 grid-col--bottom-flush">
        <h1 class="caps-heading large-heading pb-large t-center">{{page_title}}</h1>
        <div class="people grid-wrapper clearfix">
          <div class="grid-row">
            {% for person in people %}
              <div class="people__grid-item grid-col grid-col--2 tb-grid-col--3 ph-grid-col--6 pb-medium">
                <a class="people__anchor" href="{{person.link}}">
                  <div class="people__avatar mb-xsmall">
                    {% if person.has_avatar %}
                      <img src="{{person.avatar_src}}" width="180" height="180" alt="Portrait of {{person.title}}" class="people__image people__image--photo" />
                    {% else %}
                      <img src="{{asset_path('monash-impact/assets/public/person/avatar.png')}}" width="180" height="180" alt="{{person.title}}" class="people__image person__image--default" />
                    {% endif %}
                  </div>
                  <h2 class="people__name">{{person.title}}</h2>
                  {% if person.role %}
                    <h3 class="people__role">{{person.role}}</h3>
                  {% endif %}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
        {% include 'partials/pagination.twig' with {'pagination': pagination, 'prev_link': 'Next page', 'next_link': 'Previous page'} only %}
      </div>
    </div>
  </div>
  {# Subscribe #}
  {% include 'partials/subscribe_block.twig' %}
  {# Promo banner #}
  {% if promo_banner %}
    {% include 'partials/banner/promo_banner.twig' with {'promo_banner': promo_banner} only %}
  {% endif %}
{% endblock %}
