{% extends 'base.twig' %}
{% block open_graph_details %}
  <meta property="og:description" content="{{person.open_graph_description|excerpt(200)}}" />
  <meta property="twitter:description" content="{{person.open_graph_description|excerpt(200)}}" />
  {% if person.has_avatar %}
    <meta property="og:image" content="{{person.open_graph_src}}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="180" />
    <meta property="og:image:alt" content="Portrait of {{person.name}}" />
    <meta property="twitter:image" content="{{person.open_graph_src}}" />
    <meta property="twitter:image:alt" content="Portrait of {{person.name}}" />
  {% endif %}
{% endblock %}
{% block content %}
  <div class="person grid-wrapper clearfix pt-xlarge pb-medium">
    <div class="grid-row">
      <div class="grid-col grid-col--8 grid-col--push-2 tb-grid-col--10 tb-grid-col--push-1 ph-grid-col--12 ph-grid-col--push-0">
        <div class="person__avatar pb-small">
          {% if person.has_avatar %}
            <img src="{{person.avatar_src}}" width="120" height="120" alt="Portrait of {{person.name}}" />
          {% else %}
            <img src="{{asset_path('monash-impact/assets/public/person/avatar.png')}}" width="120" height="120" alt="{{person.name}}" class="person__image--small-default" />
          {% endif %}
        </div>
        <h1 class="caps-heading t-center">{{person.name}}</h1>
        {% if person.has_role %}
          <span class="t-center person__role">{{person.role}}</span>
        {% endif %}
        {% if person.has_bio %}
          <div class="copy pt-medium">
            {{person.bio}}
          </div>
        {% endif %}
        {% if person.has_social_media_links %}
          <div class="person__links pt-medium t-center">
            <ul class="person__links-list">
              {% if person.url %}
                <li class="person__link">
                  <a href="{{person.url}}">
                    <span id="icon-url" class="hide-visually">{{person.url}}</span>
                    <span class="icon" aria-labelledby="icon-url">
                      {% include 'partials/icons/globe.twig' %}
                    </span>
                  </a>
                </li>
              {% endif %}
              {% if person.twitter_handle %}
                <li class="person__link">
                  <a href="{{person.twitter_url}}">
                    <span id="icon-twitter" class="hide-visually">Follow {{person.name}} on Twitter</span>
                    <span class="icon" aria-labelledby="icon-twitter">
                      {% include 'partials/icons/twitter.twig' %}
                    </span>
                  </a>
                </li>
              {% endif %}
              {% if person.linkedin %}
                <li class="person__link">
                  <a href="{{person.linkedin}}">
                    <span id="icon-linkedin" class="hide-visually">Visit {{person.name}}’s LinkedIn profile</span>
                    <span class="icon" aria-labelledby="icon-linkedin">
                      {% include 'partials/icons/linkedin.twig' %}
                    </span>
                  </a>
                </li>
              {% endif %}
              {% if person.email_address %}
                <li class="person__link">
                  <a href="mailto:{{person.email_address}}">
                    <span id="icon-linkedin" class="hide-visually">Email {{person.name}}</span>
                    <span class="icon" aria-labelledby="icon-envelope">
                      {% include 'partials/icons/envelope.twig' %}
                    </span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if articles %}
    <div class="grid-wrapper clearfix pt-small pb-large">
      <div class="grid-row">
        <div class="grid-col grid-col--12 grid-col--bottom-flush">
          <h1 class="t-center caps-heading pb-large">Stories featuring {{person.name}}</h1>
          {% include 'partials/pagination.twig' with {'pagination': pagination, 'prev_link': 'Next page', 'next_link': 'Previous page'} only %}
          {% include 'partials/article/articles_grid.twig' with {'articles': articles, 'show_topic': true, 'show_type': true} only %}
          {% include 'partials/pagination.twig' with {'pagination': pagination, 'prev_link': 'Next page', 'next_link': 'Previous page'} only %}
        </div>
      </div>
    </div>
  {% endif %}
  {# Subscribe #}
  {% include 'partials/subscribe_block.twig' %}
  {# Promo banner #}
  {% if promo_banner %}
    {% include 'partials/banner/promo_banner.twig' with {'promo_banner': promo_banner} only %}
  {% endif %}
{% endblock %}
