/*
 * Promo banner
 */

.promo-banner {
}
.promo-banner__anchor {
  display: block;
}
.promo-banner__image {
  display: block;
  background-color: var(--color-lightest-grey);
  width: 100%;
  max-width: 100%;
}
