/*
 * People
 */

.people {
}
.people__grid-item {
}
.people__grid-item:nth-child(6n + 1) {
  clear: left;
}
.breakpoint-tablet-wide .people__grid-item:nth-child(6n + 1),
.breakpoint-tablet .people__grid-item:nth-child(6n + 1) {
  clear: none;
}
.breakpoint-tablet-wide .people__grid-item:nth-child(4n + 1),
.breakpoint-tablet .people__grid-item:nth-child(4n + 1) {
  clear: left;
}
.breakpoint-phone .people__grid-item:nth-child(2n + 1),
.breakpoint-phone-small .people__grid-item:nth-child(2n + 1) {
  clear: left;
}
.people__anchor {
  display: block;
  text-decoration: none;
}
.people__avatar {
  overflow: hidden;
}
.people__image {
  display: block;
  height: auto;
  transition: transform 600ms cubic-bezier(0.335, 0.015, 0.25, 1.105);
  max-width: 100%;
}
.people__anchor:hover .people__image--photo,
.people__anchor:hover .people__image--photo {
  transform: scale(1.1);
}
.people__name {
  color: var(--color-medium-grey);
  font-weight: bold;
  font-size: 1.8rem;
}
.people__role {
  color: var(--color-dark-grey);
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 0.2rem;
}
