/*
 * Copy to clipboard
 */

.copy-tooltip {
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: -4rem;
  padding: 0.8rem 0.4rem 0.7rem;
  position: absolute;
  top: -3.2rem;
  left: 50%;
  opacity: 0;
  transform: translateY(0.8rem);
  text-align: center;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  width: 8rem;
  z-index: 20;
}
.copy-tooltip:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -3px;
  width: 0;
  height: 0;
}
.copy-tooltip--active {
  opacity: 0.9;
  transform: translate(0);
}
