<nav role="navigation" class="navigation navigation--hidden" id="main-navigation">
  {%
    set toggle_config = {
      "event": "click",
      "targetSelector": ".masthead",
      "targetToggleClassName": "menu-open"
    }
  %}
  <button class="navigation__menu-toggle" data-view-toggle-class='{{toggle_config | json_encode()}}'>
    <span class="icon icon--close">
      {% include 'partials/icons/close.twig' %}
    </span>
  </button>
  <h1 class="navigation__monash-impact-logo mx-auto">
    <a href="{{site.url}}" class="d-block">
      {% include 'partials/logos/monash-impact.twig' %}
    </a>
  </h1>
  <div class="navigation__inner">
    <div class="navigation__grid grid-wrapper clearfix">
      <div class="navigation__grid-row grid-row">
        <div class="navigation__topic-grid grid-col grid-col--2 grid-col--push-2">
          {% if topics %}
            <h2 class="navigation__heading caps-heading pb-small">
              <a href="{{site.url}}/topics">Topics</a>
            </h2>
            <ul class="navigation__list">
              {% for topic in topics %}
                {% if topic.has_articles %}
                  <li class="navigation__list-item">
                    <a href="{{topic.link}}">{{topic.name}}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="navigation__explore-grid grid-col grid-col--2">
          <h2 class="navigation__heading caps-heading pb-small">Explore</h2>
          <ul class="navigation__list">
            <li class="navigation__list-item"><a href="{{site.url}}/articles">Articles</a></li>
            <li class="navigation__list-item"><a href="{{site.url}}/people">People</a></li>
            {% if podcasts %}
              <li class="navigation__list-item"><a href="{{site.url}}/podcasts">Podcasts</a></li>
            {% endif %}
            {% if infographics %}
              <li class="navigation__list-item"><a href="{{site.url}}/infographics">Infographics</a></li>
            {% endif %}
            {% if videos %}
              <li class="navigation__list-item"><a href="{{site.url}}/videos">Videos</a></li>
            {% endif %}
          </ul>
          <h2 class="navigation__heading caps-heading pt-small pb-small">About</h2>
          <ul class="navigation__list">
            <li class="navigation__list-item"><a href="{{site.url}}/about">About</a></li>
            <li class="navigation__list-item"><a href="{{site.url}}/contact-us">Contact us</a></li>
          </ul>
        </div>
        <div class="navigation__info-grid grid-col grid-col--4">
          <div class="pb-medium copy navigation__paragraph">
            {{header_blurb}}
          </div>
          <h2 class="navigation__heading caps-heading pb-small">Connect with us</h2>
          <ul class="navigation__social-links d-flex flex-items-center">
            {% if twitter_url %}
              <li class="navigation__social-link pr-small">
                <a href="{{twitter_url}}" class="d-block" aria-label="Follow us on Twitter">
                  <span class="icon">
                    {% include 'partials/icons/twitter.twig' %}
                  </span>
                </a>
              </li>
            {% endif %}
            {% if facebook_url %}
              <li class="navigation__social-link pr-small">
                <a href="{{facebook_url}}" class="d-block" aria-label="Like us on Facebook">
                  <span class="icon">
                    {% include 'partials/icons/facebook.twig' %}
                  </span>
                </a>
              </li>
            {% endif %}
            {% if linkedin_url %}
              <li class="navigation__social-link">
                <a href="{{linkedin_url}}" class="d-block" aria-label="Visit us on LinkedIn">
                  <span class="icon">
                    {% include 'partials/icons/linkedin.twig' %}
                  </span>
                </a>
              </li>
            {% endif %}
          </ul>
          {# Visually hidden close button for accessibility tabbing #}
          <button class="hide-visually" data-view-toggle-class='{{toggle_config | json_encode()}}' aria-label="Close menu">
            <span class="icon icon--close">
              {% include 'partials/icons/close.twig' %}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
