{% if pagination.prev or pagination.next %}
  <div class="pagination py-large clearfix">
    <div class="pagination__links clearfix">
      {% if pagination.prev %}
        <a href="{{pagination.prev.link}}" class="pagination__link">← {{prev_link}}</a>
      {% else %}
        <span class="pagination__link pagination__link--disabled">← {{prev_link}}</span>
      {% endif %}
      {% if pagination.next %}
        <a href="{{pagination.next.link}}" class="pagination__link">{{next_link}} →</a>
      {% else %}
        <span class="pagination__link pagination__link--disabled">{{next_link}} →</span>
      {% endif %}
    </div>
    <ul class="pagination__numbers d-flex flex-items-center">
      <li class="pagination__number pr-xsmall">Jump to:</li>
      {% for page in pagination.pages %}
        {% if page.link %}
          <li class="pagination__number">
            <a href="{{page.link}}" class="{{page.class}}" aria-label="Page {{page.title}}">{{page.title}}</a>
          </li>
        {% else %}
          <li class="pagination__number">
            <span class="{{page.class}}" aria-label="Page {{page.title}}">{{page.title}}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
