<div class="republish-wrapper republish-wrapper--hidden">
  <div class="republish-mask">
    {%
      set copy_to_clipboard_config = {
        "triggerElement": ".republish-pane__copy-button",
        "targetElement": ".republish-pane__textarea",
        "tooltipElement": ".copy-tooltip",
        "tooltipActiveClass": "copy-tooltip--active"
      }
    %}
    <div class="republish-pane px-medium pb-medium" data-view-copy-to-clipboard='{{copy_to_clipboard_config | json_encode()}}'>
      <div class="republish-pane__top">
        <h1 class="republish-pane__title caps-heading pt-medium pb-xsmall">
          <span>Republish</span>
          {%
            set toggle_config = {
              "event": "click",
              "targetSelector": ".republish-wrapper",
              "targetToggleClassName": "republish-wrapper--hidden"
            }
          %}
          <button class="republish-pane__icon" data-view-toggle-class='{{toggle_config | json_encode()}}'>
            <span class="icon">
              {% include 'partials/icons/close.twig' %}
            </span>
          </button>
        </h1>
        <h2 class="republish-pane__heading medium-heading">Terms</h2>
        <p class="republish-pane__text">
          You may republish this article online or in print under our Creative Commons licence. You may not edit or shorten the text, you must attribute the article to Impact, and you must include the author’s name in your republication.
        </p>
        <p class="republish-pane__text">
          If you have any questions, please email <a href="mailto:impact.editor@business.monash.edu.au">Impact.editor@business.monash.edu.au</a>
        </p>
        <h2 class="republish-pane__heading medium-heading">License</h2>
        <p class="republish-pane__text republish-pane__text--divider">
          <a href="https://creativecommons.org/licenses/by-nd/3.0/au/">Creative Commons Attribution-No Derivatives</a>
        </p>
        <h2 class="republish-pane__heading medium-heading">Title</h2>
        <h3 class="republish-pane__article-heading medium-heading">{{article.title}}</h3>
        <div class="republish-pane__content-heading my-medium d-flex flex-items-center">
          <h3 class="medium-heading">Content</h3>
          <div class="republish-pane__copy-button-wrapper">
            <button class="button button--small republish-pane__copy-button">Copy all</button>
            <span class="copy-tooltip">Copied</span>
          </div>
        </div>
      </div>
      <div class="republish-pane__bottom">
        <textarea class="republish-pane__textarea" readonly>{% if article.has_intro %}{{article.intro}}{% endif %}{{article.republish_body}}
        </textarea>
      </div>
    </div>
  </div>
</div>
