<a class="skip-link skip-link--main-navigation" href="#main-navigation" tabindex="1">Skip to the main navigation</a>
<a class="skip-link skip-link--main-content" href="#main-content" tabindex="2">Skip to the content</a>
