<div class="newsletter-subscribe-wrapper b-lightest-grey pt-xlarge pb-medium my-large clearfix">
  <div class="grid-wrapper clearfix">
    <div class="grid-row">
      <div class="grid-col grid-col--5 tb-grid-col--10 tb-grid-col--push-1 ph-grid-col--12">
        <div class="newsletter-subscribe">
          <h1 class="newsletter-subscribe__heading pb-small caps-heading d-flex flex-items-center">
            <span class="newsletter-subscribe__icon icon">
              {% include 'partials/icons/newspaper.twig' %}
            </span>
            <span>Subscribe to Impact</span>
          </h1>
          <p class="newsletter-subscribe__text">Stay up-to-date with Monash Business School's latest research, analysis, news and events in our monthly digest.</p>
          <form class="newsletter-subscribe__form" action="//monash.us5.list-manage.com/subscribe/post?u=a13118abec7c9f6792c9cfbd2&amp;id=afa4b832d8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
            <input class="newsletter-subscribe__input" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="your@email.com">
            <div style="position: absolute; left: -5000px;" class="invisible" aria-hidden="true"><input type="text" name="b_a13118abec7c9f6792c9cfbd2_afa4b832d8" tabindex="-1" value=""></div>
            <button class="newsletter-subscribe__button button" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
          </form>
        </div>
        <div class="newsletter-subscribe__connect d-flex flex-items-center pt-medium">
          <h1 class="caps-heading">Connect with us</h1>
          <ul class="newsletter-subscribe__social-links pl-small">
            {% if twitter_url %}
              <li class="newsletter-subscribe__social-link">
                <a href="{{twitter_url}}" aria-label="Follow us on Twitter">
                  <span class="icon">
                    {% include 'partials/icons/twitter.twig' %}
                  </span>
                </a>
              </li>
            {% endif %}
            {% if facebook_url %}
              <li class="newsletter-subscribe__social-link">
                <a href="{{facebook_url}}" aria-label="Like us on Facebook">
                  <span class="icon">
                    {% include 'partials/icons/facebook.twig' %}
                  </span>
                </a>
              </li>
            {% endif %}
            {% if linkedin_url %}
              <li class="newsletter-subscribe__social-link">
                <a href="{{linkedin_url}}" aria-label="Visit us on LinkedIn">
                  <span class="icon">
                    {% include 'partials/icons/linkedin.twig' %}
                  </span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="grid-col grid-col--7 tweet-block-grid">
        <h1 class="pb-small caps-heading tweet-block-heading">
          <a href="https://twitter.com/monashbusiness" class="d-flex flex-items-center">
            <span class="tweet-block-icon icon">
              {% include 'partials/icons/twitter.twig' %}
            </span>
            @MonashBusiness
          </a>
        </h1>
        <div class="tweet-block">
          <div class="tweet-block__tweets clearfix" data-view-latest-tweets='{"handle":"monashbusiness","numberOfTweets":"2"}'></div>
        </div>
      </div>
    </div>
  </div>
</div>
