/*
 * Pagination
 */

.pagination {
}
.large-heading + .pagination {
  margin-top: -3rem;
}
.pagination__links {
  float: left;
}
.breakpoint-phone .pagination__links,
.breakpoint-phone-small .pagination__links {
  float: none;
  margin-bottom: 1.5rem;
}
.pagination__link {
  color: var(--color-medium-grey);
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
}
.pagination__link--disabled {
  color: var(--color-light-grey);
  font-weight: normal;
}
.pagination__link:first-child {
  margin-right: 1.2rem;
}
.breakpoint-phone .pagination__link,
.breakpoint-phone-small .pagination__link {
  float: right;
}
.breakpoint-phone .pagination__link:first-child,
.breakpoint-phone-small .pagination__link:first-child {
  margin-right: 0;
  float: left;
}
.pagination__numbers {
  float: right;
}
.breakpoint-phone .pagination__numbers,
.breakpoint-phone-small .pagination__numbers {
  float: none;
}
.pagination__number {
  font-size: 1.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.pagination__number:first-of-type {
  padding-left: 0;
  padding-right: 1rem;
}
.pagination__number a,
.pagination__number span {
  border-bottom: 4px solid var(--color-white);
  color: var(--color-dark-grey);
  display: block;
  padding-bottom: 0.2rem;
  text-decoration: none;
  text-align: center;
  width: 2.2rem;
}
.pagination__number span.current {
  border-color: var(--color-lightest-blue);
  color: var(--color-darker-grey);
  font-weight: bold;
  transition: border-color 150ms ease-in-out;
  transform: translateY(-1px);
}
.pagination__number a:hover {
  color: var(--color-darker-grey);
  border-color: var(--color-lightest-blue);
}
