/**
 * 12 column grid
 *
 * <div class="grid-wrapper clearfix">
 *   <div class="grid-row">
 *     <div class="grid-col grid-col--8">8 columns</div>
 *     <div class="grid-col grid-col--2 grid-col--push-2">2 columns, pushed 2</div>
 *   </div>
 * </div>
 */

.grid-wrapper {
  padding-left: var(--gutter-width);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  width: 100%;
}
.breakpoint-tablet-wide .grid-wrapper,
.breakpoint-tablet .grid-wrapper,
.breakpoint-phone .grid-wrapper,
.breakpoint-phone-small .grid-wrapper {
  padding-left: 2rem;
}
/* Nested grid */
.grid-wrapper .grid-wrapper {
  margin-left: calc(var(--gutter-width) * -1);
  max-width: calc(100% + 6rem);
  width: calc(100% + 6rem);
}
.breakpoint-tablet-wide .grid-wrapper .grid-wrapper,
.breakpoint-tablet .grid-wrapper .grid-wrapper,
.breakpoint-phone .grid-wrapper .grid-wrapper,
.breakpoint-phone-small .grid-wrapper .grid-wrapper {
  margin-left: -2rem;
  max-width: calc(100% + 4rem);
  width: calc(100% + 4rem);
}
.grid-row {
}

.grid-col {
  float: left;
  padding-right: var(--gutter-width);
  margin-bottom: var(--gutter-width);
  width: calc(100% / 12);
}
.breakpoint-tablet-wide .grid-col,
.breakpoint-tablet .grid-col,
.breakpoint-phone .grid-col,
.breakpoint-phone-small .grid-col {
  padding-right: 2rem;
  margin-bottom: 2rem;
}
.grid-col--bottom-flush,
.breakpoint-tablet-wide .grid-col--bottom-flush,
.breakpoint-tablet .grid-col--bottom-flush,
.breakpoint-phone .grid-col--bottom-flush,
.breakpoint-phone-small .grid-col--bottom-flush {
  margin-bottom: 0;
}

/* Column variations */
.grid-col--1 {
  width: calc(100% / 12);
}
.grid-col--2 {
  width: calc((100% / 12) * 2);
}
.grid-col--3 {
  width: calc((100% / 12) * 3);
}
.grid-col--4 {
  width: calc((100% / 12) * 4);
}
.grid-col--5 {
  width: calc((100% / 12) * 5);
}
.grid-col--6 {
  width: calc((100% / 12) * 6);
}
.grid-col--7 {
  width: calc((100% / 12) * 7);
}
.grid-col--8 {
  width: calc((100% / 12) * 8);
}
.grid-col--9 {
  width: calc((100% / 12) * 9);
}
.grid-col--10 {
  width: calc((100% / 12) * 10);
}
.grid-col--11 {
  width: calc((100% / 12) * 11);
}
.grid-col--12 {
  width: 100%;
}

/* Push columns */
.grid-col--push-1 {
  margin-left: calc(100% / 12);
}
.grid-col--push-2 {
  margin-left: calc((100% / 12) * 2);
}
.grid-col--push-3 {
  margin-left: calc((100% / 12) * 3);
}
.grid-col--push-4 {
  margin-left: calc((100% / 12) * 4);
}
.grid-col--push-5 {
  margin-left: calc((100% / 12) * 5);
}
.grid-col--push-6 {
  margin-left: calc((100% / 12) * 6);
}
.grid-col--push-7 {
  margin-left: calc((100% / 12) * 7);
}
.grid-col--push-8 {
  margin-left: calc((100% / 12) * 8);
}
.grid-col--push-9 {
  margin-left: calc((100% / 12) * 9);
}
.grid-col--push-10 {
  margin-left: calc((100% / 12) * 10);
}
.grid-col--push-11 {
  margin-left: calc((100% / 12) * 11);
}

/* Tablet columns + push */
.breakpoint-tablet-wide .tb-grid-col--push-0,
.breakpoint-tablet .tb-grid-col--push-0 {
  margin-left: 0;
}
.breakpoint-tablet-wide .tb-grid-col--1,
.breakpoint-tablet .tb-grid-col--1 {
  width: calc(100% / 12);
}
.breakpoint-tablet-wide .tb-grid-col--push-1,
.breakpoint-tablet .tb-grid-col--push-1 {
  margin-left: calc(100% / 12);
}
.breakpoint-tablet-wide .tb-grid-col--2,
.breakpoint-tablet .tb-grid-col--2 {
  width: calc((100% / 12) * 2);
}
.breakpoint-tablet-wide .tb-grid-col--push-2,
.breakpoint-tablet .tb-grid-col--push-2 {
  margin-left: calc((100% / 12) * 2);
}
.breakpoint-tablet-wide .tb-grid-col--3,
.breakpoint-tablet .tb-grid-col--3 {
  width: calc((100% / 12) * 3);
}
.breakpoint-tablet-wide .tb-grid-col--push-3,
.breakpoint-tablet .tb-grid-col--push-3 {
  margin-left: calc((100% / 12) * 3);
}
.breakpoint-tablet-wide .tb-grid-col--4,
.breakpoint-tablet .tb-grid-col--4 {
  width: calc((100% / 12) * 4);
}
.breakpoint-tablet-wide .tb-grid-col--push-4,
.breakpoint-tablet .tb-grid-col--push-4 {
  margin-left: calc((100% / 12) * 4);
}
.breakpoint-tablet-wide .tb-grid-col--5,
.breakpoint-tablet .tb-grid-col--5 {
  width: calc((100% / 12) * 5);
}
.breakpoint-tablet-wide .tb-grid-col--push-5,
.breakpoint-tablet .tb-grid-col--push-5 {
  margin-left: calc((100% / 12) * 5);
}
.breakpoint-tablet-wide .tb-grid-col--6,
.breakpoint-tablet .tb-grid-col--6 {
  width: calc((100% / 12) * 6);
}
.breakpoint-tablet-wide .tb-grid-col--push-6,
.breakpoint-tablet .tb-grid-col--push-6 {
  margin-left: calc((100% / 12) * 6);
}
.breakpoint-tablet-wide .tb-grid-col--7,
.breakpoint-tablet .tb-grid-col--7 {
  width: calc((100% / 12) * 7);
}
.breakpoint-tablet-wide .tb-grid-col--push-7,
.breakpoint-tablet .tb-grid-col--push-7 {
  margin-left: calc((100% / 12) * 7);
}
.breakpoint-tablet-wide .tb-grid-col--8,
.breakpoint-tablet .tb-grid-col--8 {
  width: calc((100% / 12) * 8);
}
.breakpoint-tablet-wide .tb-grid-col--push-8,
.breakpoint-tablet .tb-grid-col--push-8 {
  margin-left: calc((100% / 12) * 8);
}
.breakpoint-tablet-wide .tb-grid-col--9,
.breakpoint-tablet .tb-grid-col--9 {
  width: calc((100% / 12) * 9);
}
.breakpoint-tablet-wide .tb-grid-col--push-9,
.breakpoint-tablet .tb-grid-col--push-9 {
  margin-left: calc((100% / 12) * 9);
}
.breakpoint-tablet-wide .tb-grid-col--10,
.breakpoint-tablet .tb-grid-col--10 {
  width: calc((100% / 12) * 10);
}
.breakpoint-tablet-wide .tb-grid-col--push-10,
.breakpoint-tablet .tb-grid-col--push-10 {
  margin-left: calc((100% / 12) * 10);
}
.breakpoint-tablet-wide .tb-grid-col--11,
.breakpoint-tablet .tb-grid-col--11 {
  width: calc((100% / 12) * 11);
}
.breakpoint-tablet-wide .tb-grid-col--push-11,
.breakpoint-tablet .tb-grid-col--push-11 {
  margin-left: calc((100% / 12) * 11);
}
.breakpoint-tablet-wide .tb-grid-col--12,
.breakpoint-tablet .tb-grid-col--12 {
  width: 100%;
}

/* Mobile columns + push */
.breakpoint-phone .ph-grid-col--push-0,
.breakpoint-phone-small .ph-grid-col--push-0 {
  margin-left: 0;
}
.breakpoint-phone .ph-grid-col--1,
.breakpoint-phone-small .ph-grid-col--1 {
  width: calc(100% / 12);
}
.breakpoint-phone .ph-grid-col--push-1,
.breakpoint-phone-small .ph-grid-col--push-1 {
  margin-left: calc(100% / 12);
}
.breakpoint-phone .ph-grid-col--2,
.breakpoint-phone-small .ph-grid-col--2 {
  width: calc((100% / 12) * 2);
}
.breakpoint-phone .ph-grid-col--push-2,
.breakpoint-phone-small .ph-grid-col--push-2 {
  margin-left: calc((100% / 12) * 2);
}
.breakpoint-phone .ph-grid-col--3,
.breakpoint-phone-small .ph-grid-col--3 {
  width: calc((100% / 12) * 3);
}
.breakpoint-phone .ph-grid-col--push-3,
.breakpoint-phone-small .ph-grid-col--push-3 {
  margin-left: calc((100% / 12) * 3);
}
.breakpoint-phone .ph-grid-col--4,
.breakpoint-phone-small .ph-grid-col--4 {
  width: calc((100% / 12) * 4);
}
.breakpoint-phone .ph-grid-col--push-4,
.breakpoint-phone-small .ph-grid-col--push-4 {
  margin-left: calc((100% / 12) * 4);
}
.breakpoint-phone .ph-grid-col--5,
.breakpoint-phone-small .ph-grid-col--5 {
  width: calc((100% / 12) * 5);
}
.breakpoint-phone .ph-grid-col--push-5,
.breakpoint-phone-small .ph-grid-col--push-5 {
  margin-left: calc((100% / 12) * 5);
}
.breakpoint-phone .ph-grid-col--6,
.breakpoint-phone-small .ph-grid-col--6 {
  width: calc((100% / 12) * 6);
}
.breakpoint-phone .ph-grid-col--push-6,
.breakpoint-phone-small .ph-grid-col--push-6 {
  margin-left: calc((100% / 12) * 6);
}
.breakpoint-phone .ph-grid-col--7,
.breakpoint-phone-small .ph-grid-col--7 {
  width: calc((100% / 12) * 7);
}
.breakpoint-phone .ph-grid-col--push-7,
.breakpoint-phone-small .ph-grid-col--push-7 {
  margin-left: calc((100% / 12) * 7);
}
.breakpoint-phone .ph-grid-col--8,
.breakpoint-tablet .ph-grid-col--8 {
  width: calc((100% / 12) * 8);
}
.breakpoint-phone .ph-grid-col--push-8,
.breakpoint-phone-small .ph-grid-col--push-8 {
  margin-left: calc((100% / 12) * 8);
}
.breakpoint-phone .ph-grid-col--9,
.breakpoint-phone-small .ph-grid-col--9 {
  width: calc((100% / 12) * 9);
}
.breakpoint-phone .ph-grid-col--push-9,
.breakpoint-phone-small .ph-grid-col--push-9 {
  margin-left: calc((100% / 12) * 9);
}
.breakpoint-phone .ph-grid-col--10,
.breakpoint-phone-small .ph-grid-col--10 {
  width: calc((100% / 12) * 10);
}
.breakpoint-phone .ph-grid-col--push-10,
.breakpoint-phone-small .ph-grid-col--push-10 {
  margin-left: calc((100% / 12) * 10);
}
.breakpoint-phone .ph-grid-col--11,
.breakpoint-phone-small .ph-grid-col--11 {
  width: calc((100% / 12) * 11);
}
.breakpoint-phone .ph-grid-col--push-11,
.breakpoint-phone-small .ph-grid-col--push-11 {
  margin-left: calc((100% / 12) * 11);
}
.breakpoint-phone .ph-grid-col--12,
.breakpoint-phone-small .ph-grid-col--12 {
  width: 100%;
}
