<div class="feature-banner feature-banner--article {{article.hero_image_gradient_overlay ? 'feature-banner--with-gradient-overlay'}}" style="background-color:{{article.hero_image_background_color}}">
  <div class="feature-banner__wrapper">
    <img src="{{article.hero_image_src}}" class="feature-banner__image {{article.hero_image_full_width ? 'feature-banner__image--full-width'}}" alt="{{article.title}}" />
    <div class="feature-banner__text ph-display-none">
      <div class="feature-banner__text-inner">
        <h1 class="feature-banner__title caps-heading t-center">{{article.title}}</h1>
        {% if article.has_hero_image_caption %}
          <span class="feature-banner__caption">{{article.hero_image_caption}}</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<h1 class="feature-banner-below-title caps-heading pb-small ph-display-block">{{article.title}}</a></h1>
{% if article.has_hero_image_caption %}
  <span class="feature-banner-below-caption pb-small ph-display-block">{{article.hero_image_caption}}</span>
{% endif %}
