{% if article.has_authors or article.has_topics %}
  <div class="article__meta t-center mb-large">
    By <span>
    {% for author in article.authors %}
      <a class="article__meta-author" href="{{author.link}}">{{author}}</a>
    {% endfor %}
    </span>
    on <datetime>{{article.date}}</datetime>
    {% if article.has_topics %}
      in <span><a class="theme theme--{{article.theme}}" href="{{article.primary_topic.link}}">{{article.primary_topic}}</a></span>
    {% endif %}
  </div>
{% endif %}
