<div class="articles-grid">
  {% for article in articles %}
    {% include 'partials/article/articles_grid_item.twig' with {'article': article, 'show_topic': show_topic, 'show_summary': show_summary, 'show_type': show_type} only %}
  {% endfor %}
</div>
