<div class="articles-grid__item {{article.has_hero_image ? 'articles-grid__item--with-image'}} theme theme--{{article.theme}}">
  <a href="{{article.link}}" class="articles-grid__anchor">
    {% if article.has_hero_image %}
      <div class="articles-grid__shim">
        {% if article.is_type_video %}
          <span class="articles-grid__video-icon">
            <span class="icon">
              {% include 'partials/icons/play.twig' %}
            </span>
          </span>
        {% endif %}
        <div class="articles-grid__image-wrapper">
          <img class="articles-grid__image" src="{{article.thumbnail_src}}" alt="{{article.title}}" style="background-color:{{article.hero_image_background_color}}" />
        </div>
      </div>
    {% endif %}
    {% if article.has_topics and show_topic %}
      <div class="articles-grid__topic-wrapper">
        <span class="articles-grid__topic">
          <em>{{article.primary_topic}}</em>
        </span>
      </div>
    {% endif %}
    <div class="articles-grid__text-wrapper">
      <h1 class="articles-grid__title {{show_summary ? 'articles-grid__title--smaller'}}">{{article.title}}</h1>
      {% if article.has_summary and show_summary %}
        <div class="articles-grid__summary">{{article.summary}}</div>
      {% elseif article.has_intro and show_summary %}
        <div class="articles-grid__summary">{{article.intro|excerpt(25)}}</div>
      {% endif %}
      {% if not article.is_type_article and show_type %}
        <h2 class="article-grid__type">{{article.type}}</h2>
      {% endif %}
    </div>
  </a>
</div>
