{%
  set toggle_config = {
    "event": "click",
    "targetSelector": ".search",
    "targetToggleClassName": "search--hidden"
  }
%}
<button class="masthead__search-toggle" data-view-toggle-class='{{toggle_config | json_encode()}}'>
  <span class="icon icon--search">
    {% include 'partials/icons/search.twig' %}
  </span>
</button>
<div class="search search--hidden">
  <form class="search__form" role="search" action="{{site.url}}/search" method="get">
    <fieldset>
      <div class="search__field-container d-flex flex-items-center">
        <label for="search__input" class="hide-visually">Search {{site.name}}</label>
        <input id="search__input" class="search__input" type="search" placeholder="Search" name="query" value="{{query}}" />
        <button class="search__button d-flex flex-items-center" type="Submit">
          <span class="icon" aria-label="Search icon">
            {% include 'partials/icons/search.twig' %}
          </span>
        </button>
      </div>
    </fieldset>
  </form>
  <button class="search__close" data-view-toggle-class='{{toggle_config | json_encode()}}'>
    <span class="icon" aria-label="Close search box">
      {% include 'partials/icons/close.twig' %}
    </span>
  </button>
</div>
