<li class="search-results__result">
  <a href="{{result.link}}" class="search-results__title">{{result.title}}</a>
  <span class="search-results__author">
    {% for author in result.authors %}
      <a href="{{author.link}}">{{author.name}}</a>
    {% endfor %}
  </span>
</li>
