<div class="grid-col grid-col--3 ph-grid-col--12 grid-col--push-1 ph-grid-col--push-0 search-results__filters-container">
  {%
    set toggle_config = {
      "event": "click",
      "targetSelector": ".search-results__filters-container",
      "targetToggleClassName": "search-results__filters-container--visible"
    }
  %}
  <button class="caps-heading d-block mb-small search-results__heading search-results__filters-heading" data-view-toggle-class='{{toggle_config | json_encode()}}'><em>Filter</em></button>
  <div class="search-results__filters">
    {% if authors %}
      <div class="search-results__filter-group mb-medium">
        <span class="medium-heading d-block mb-xsmall search-results__filter-heading">
          <span class="search-results__filters-toggle">
            Authors
          </span>
        </span>
        <div class="search-results__filters-authors">
          <select name="author" class="search-results__select">
            <option value="" selected="selected">All authors</option>
            {% for author in authors %}
              <option value="{{author.id}}" {{author.id in active_filters.author ? 'selected'}}>{{author.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endif %}
    {% if topics %}
      <div class="search-results__filter-group mb-medium">
        <label class="medium-heading d-block mb-xsmall search-results__filter-heading" for="filter__topic">
          <span class="search-results__filters-toggle">
            Topics
          </span>
        </label>
        <div class="search-results__filters-topics">
          <select name="topic" class="search-results__select">
            <option value="" selected="selected">All topics</option>
            {% for topic in topics %}
              <option value="{{topic.id}}" {{topic.id in active_filters.topic ? 'selected'}}>{{topic.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endif %}
    <div class="search-results__filter-group">
      <span class="medium-heading d-block mb-xsmall search-results__filter-heading">
        <span class="search-results__filters-toggle">
          Post types
        </span>
      </span>
      <div class="search-results__filters-type">
        {% for type in types %}
          <div class="search-results__filter-checkbox-group">
            <input type="checkbox" name="post_type[]" value="{{type.value}}" id="filter__{{type.value}}" class="search-results__checkbox" {{type.value in active_filters.type ? 'checked'}} />
            <label for="filter__{{type.value}}" class="search-results__label">{{type.name}} ({{type.count}})</label>
          </div>
        {% endfor %}
      </div>
    </div>
    <button type="submit" class="search-results__update-button button mt-medium">Update results</button>
    {% if active_filters %}
      <a href="{{clear_filters_link}}" class="search-results__clear-button button button--alternate mt-xsmall">Clear filters</a>
    {% endif %}
  </div>
</div>
