<div class="feature-banner mb-large {{feature.hero_image_gradient_overlay ? 'feature-banner--with-gradient-overlay'}}" style="background-color:{{feature.hero_image_background_color}}">
  <a href="{{feature.link}}" class="feature-banner__anchor">
    {% if feature.has_hero_image %}
      <img src="{{feature.hero_image_src}}" class="feature-banner__image {{feature.hero_image_full_width ? 'feature-banner__image--full-width'}}" alt="{{feature.title}}" />
    {% endif %}
    <div class="feature-banner__text t-center ph-display-none">
      <div class="feature-banner__text-inner">
        <h1 class="feature-banner__title caps-heading">{{feature.title}}</h1>
      </div>
    </div>
  </a>
</div>
<h1 class="feature-banner-below-title caps-heading pb-small ph-display-block">
  <a href="{{feature.link}}">{{feature.title}}</a>
</h1>
