<div class="mt-large mb-xlarge promo-banner grid-wrapper clearfix">
  <div class="grid-row">
    <div class="grid-col grid-col--12">
     {% if promo_banner.url %}
      <a href="{{promo_banner.url}}" class="promo-banner__anchor">
        <img class="promo-banner__image" src="{{promo_banner.image.url}}" alt="{{promo_banner.image.caption}}" />
      </a>
      {% else %}
        <img class="promo-banner__image" src="{{promo_banner.image.url}}" alt="{{promo_banner.image.caption}}" />
      {% endif %}
    </div>
  </div>
</div>
