/*
 * Navigation
 */

.navigation {
  background-color: var(--color-white);
  position: fixed;
  top: var(--masthead-height);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  transition: transform 400ms cubic-bezier(0.43, 0.13, 0.13, 1),
    opacity 1ms linear 400ms;
  transform: translateY(-120%);
}
.breakpoint-w-840 .navigation {
  top: 0;
  z-index: 6;
  transition: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.menu-open .navigation {
  transition: transform 400ms cubic-bezier(0.43, 0.13, 0.13, 1),
    opacity 1ms linear;
  opacity: 1;
  transform: none;
}
.breakpoint-w-840 .menu-open .navigation {
  transition: none;
}
.navigation__menu-toggle {
  display: none;
}
.breakpoint-w-840 .navigation__menu-toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.2rem 2rem;
}
.breakpoint-w-840 .navigation__menu-toggle {
  left: auto;
  right: 0;
}
.navigation__menu-toggle .icon--close {
  width: 20px;
  height: 20px;
  transform: translateY(2px);
}
.navigation__menu-toggle path {
  transition: fill 150ms ease-in-out;
}
.navigation__menu-toggle:hover path,
.navigation__menu-toggle:focus path {
  fill: var(--color-blue);
}
.navigation__monash-impact-logo {
  display: none;
  width: 200px;
  height: 22px;
  overflow: hidden;
  margin-top: 2.2rem;
  margin-bottom: 2rem;
}
.breakpoint-w-840 .navigation__monash-impact-logo {
  display: block;
}
.navigation__monash-impact-logo path#impact {
  transition: fill 150ms ease-in-out;
}
.navigation__monash-impact-logo:hover path#impact,
.navigation__monash-impact-logo:focus path#impact {
  fill: var(--color-blue);
}
.navigation__inner {
  background-color: #fcfcfc;
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.breakpoint-w-840 .navigation__inner {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.breakpoint-tablet-wide .navigation__grid,
.breakpoint-w-840 .navigation__grid {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}
.breakpoint-w-840 .navigation__grid {
  text-align: left;
}
.navigation__grid-row {
}
.breakpoint-tablet-wide .navigation__topic-grid,
.breakpoint-w-840 .navigation__topic-grid {
  padding-right: 2rem;
  margin-left: 25%;
  margin-bottom: 0;
  width: 25%;
}
.breakpoint-w-840 .navigation__topic-grid {
  margin-left: 0;
  width: 50%;
}
.breakpoint-tablet-wide .navigation__explore-grid,
.breakpoint-w-840 .navigation__explore-grid {
  padding-left: 2rem;
  padding-right: 0;
  margin-bottom: 0;
  width: 25%;
}
.breakpoint-w-840 .navigation__explore-grid {
  width: 50%;
}
.breakpoint-tablet-wide .navigation__info-grid {
  clear: both;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  width: 70%;
}
.breakpoint-w-840 .navigation__info-grid {
  display: none;
}
.navigation__heading {
  color: var(--color-blue);
  font-size: 1.8rem;
}
.breakpoint-tablet-wide .navigation__heading,
.breakpoint-w-840 .navigation__heading {
  padding-bottom: 1.2rem;
}
.navigation__list {
}
.navigation__list-item {
  padding-bottom: 1.2rem;
}
.breakpoint-tablet-wide .navigation__list-item,
.breakpoint-w-840 .navigation__list-item {
  padding-bottom: 1rem;
}
.navigation__list-item a {
  color: var(--color-darker-grey);
}
.navigation__paragraph.copy p {
  line-height: 1.5;
  font-size: 1.8rem;
}
.breakpoint-tablet-wide .navigation__social-links {
  justify-content: center;
}
